[2012-10-03 01:03] ariya opened #1 "Parse failure on MooTools"
MooTools 1.4.1 does not get parsed correct. It gives the following error:

"Unsyntactic break (2332:45)"

where line 2332 is

[code]

Most likely `simpleSelectors` was not in the list of detect labels?

[2012-10-03 08:25] #1 closed, assigned to nobody

[2012-10-03 14:56] mishoo opened #3 "Parse error: "\0" in "strict" mode"
In strict mode it doesn't like `"\0"`:

[code]

errors out with:

[code]

[2012-10-03 20:19] #3 closed, assigned to nobody

[2012-10-05 07:23] mishoo opened #5 "Feature request: parse multiple files into a single AST"
This is useful in UglifyJS to compress multiple files and generate a proper source map.

Basically, the parser would receive a Program node and will append new statements to its body instead of creating a new Program.  The tricky part is that besides start/end the "loc" property needs also to contain "source" (specified in the SpiderMonkey parser API).

[2012-10-05 15:16] ariya opened #7 "Using range instead of start end"
In the interest of standardized format, how about using `range` to denote the node location instead of `start` and `end` pair? I proposed this to Mozilla, see https://bugzilla.mozilla.org/show_bug.cgi?id=745678. Dave Herman seems to agree to that, see also http://calculist.org/blog/2012/07/03/tweaking-the-javascript-ast-api/.

[2012-10-05 22:36] droptable opened #8 "strict mode?"
Line 17: `"strict mode"`

Isn't it supposed to be `"use strict"` ?

:-)

[2012-10-06 10:33] #8 closed, assigned to nobody

[2012-10-11 12:12] mishoo opened #9 "Parse `123..toString(16)` says "Invalid number""
Should parse equivalent to (123).toString(16).

[2012-10-12 21:19] #7 closed, assigned to nobody

[2012-10-12 21:29] #5 closed, assigned to nobody

[2012-10-12 21:34] #9 closed, assigned to nobody

[2012-10-13 01:55] scriby opened #10 "Code generation?"
Not an issue, just a question. Do you know of any projects that can do code generation based on an acorn AST?

Thanks,

Chris

[2012-10-13 17:58] #10 closed, assigned to nobody

[2012-10-18 13:25] rvanvelzen opened #11 "`throw \n 1;` is a parse error"
Currently acorn accepts the following program which should result in a parse error (`throw` is a restricted production)

[code]

[2012-10-18 13:50] #11 closed, assigned to nobody

[2012-11-05 18:59] jimtracy opened #12 "Single line comments"
Comments that use the // syntax dont seem to show up in the AST even when trackComments is true

[2012-11-07 18:24] dfreedm opened #13 "Feature Request: add new visitors to a recursive walker"
Could a slight modification to acorn.walk.make be made that allows for the creation of new walker visitors?

I have some code in a known structure I'm trying to parse and wanted to handle these parts of the AST specially.

In essence, I would like to be able to write

[code]

Right now, I have to make a walker and then attach my new visitors onto it later, which seems a little inconvenient.

[2012-11-08 20:12] #13 closed, assigned to nobody

[2012-11-18 08:04] lehni opened #14 "Issue with range information and parenthesis"
I am in the process of porting the PaperScript parser of Paper.js over to using Acorn.js, using the range information in the AST to directly modify the original source, instead of modifying the AST and converting it back to code. I decided to do so for tow reasons: To preserve line numbers in syntax errors when evaluating the resulting code, and also to keep total code size down, since I can then

[2012-11-18 20:18] #14 closed, assigned to nobody

[2012-11-22 00:29] lucamontecchi opened #15 "Bugs in the parser"
Hello!

I am using acorn on a project I am working on, and in the process I found a few bugs. I also have some quick fix for some of them, so I am submitting them to you.

I am reporting all of them here, but if you prefer me to open separate issues, please tell me and i will be happy to do that.

However, the bugs I found are:

1) an if statement build like this: if(expression)throw"Error";else d

[2012-11-22 09:11] #15 closed, assigned to nobody

[2012-11-26 18:22] #12 closed, assigned to nobody

[2012-11-27 14:29] jimtracy opened #16 "Tracking whether comments are same line or not"
When 'un-parsing' the ast, it would be nice to know whether comments begin on a new line or not. Right not it is not possible to tell. The following code:

var acorn = require('acorn');
var code1 = 'funcall();//comment same line\n';
var code2 = 'funcall();\n//comment next line\n';
var ast1 = acorn.parse(code1,{trackComments:true});
var ast2 = acorn.parse(code2,{trackComments:true});
console.log(JS

[2012-11-27 14:33] jimtracy opened #17 "Track comments duplicates a comment in commentsBefore and commentsAfter"
If a comment shows up in commentsAfter on one node, it would be great if it did not show up in commentsBefore on another node. Duplicating comments makes 'unparsing' the ast with comments tricky, as you have to somehow track whether you emitted the comment yet or not.  The following example:

ar acorn = require('acorn');
var code1 = 'funcall();/_comment between statements_/funcall2();';
var ast1 =

[2012-11-27 14:35] jimtracy opened #18 "Track comments misses comments within an expression"
The following example:

var acorn = require('acorn');
var code1 = 'funcall(1/_mid expression comment_/,2);';
var ast1 = acorn.parse(code1,{trackComments:true});
console.log(JSON.stringify(ast1));

outputs:

{"type":"Program","start":0,"end":39,"body":[{"type":"ExpressionStatement","start":0,"end":39,"expression":{"type":"CallExpression","start":0,"callee":{"type":"Identifier","start":0,"end":7,"na

[2012-11-27 15:06] #17 closed, assigned to nobody

[2012-11-27 15:07] #18 closed, assigned to nobody

[2012-11-27 15:07] #16 closed, assigned to nobody

[2012-11-28 23:07] jasonsanjose opened #19 "Can not load acorn in a web worker"
Using acorn in a web worker:

[code]

results in the following error: `Uncaught ReferenceError: window is not defined`

[2012-11-29 00:20] jasonsanjose opened #21 "Node types should be publicly visible"
To operate on the syntax tree, it would be helpful to have an enum of node types. Currently these types are string literals.

[2012-11-29 09:09] #19 closed, assigned to nobody

[2012-11-29 18:39] #21 closed, assigned to nobody

[2013-01-27 11:15] espadrine opened #29 "Safe tokenizer API"
Is there any hope to get a safe (as in, that won't reset the internal state in some cases)
tokenizer with Esprima-compatible output?

I would love to be able to compare Esprima's tokenizer() function that
I'm working on at https://github.com/espadrine/esprima

The basic API that I'm looking for is:

[code]

That would output all the tokens in one shot.

Obviously, we can discuss how to deal with `

[2013-01-27 12:46] #29 closed, assigned to nobody

[2013-02-06 05:28] davidchambers opened #30 "npm doesn't have 0.0.2 yet"
https://npmjs.org/package/acorn currently gives 0.0.1 rather than the current version.

[2013-02-14 09:02] #30 closed, assigned to nobody

[2013-02-24 16:55] denik opened #31 "RangeError: Maximum call stack size exceeded on a seemingly simple file"
Parsing a file with a single variable declaration initialized to a big string causes `RangeError` to be raised.

[code]

[code]

Passing `--stack-size=1000` to node seem to fix it, but esprima handles the file without any errors without any additional options, so I'm not sure if that's expected behavior or a bug.

[2013-02-24 20:26] #31 closed, assigned to nobody

[2013-02-28 17:07] denik opened #33 "parser fails on "if(1)/x/""
The regex is not parsed correctly in this case: "if(1)/x/"

[code]

[2013-02-28 18:28] #33 closed, assigned to nobody

[2013-03-12 06:32] zb3 opened #34 "Question"
Is it thread safe?
I mean is it safe to parse different pieces of code at the same time?

[2013-03-12 08:35] #34 closed, assigned to nobody

[2013-03-15 23:06] benekastah opened #35 "`locations` option doesn't work with `parse_dammit`"
I can get it to work with `parse`, but not `parse_dammit`. By "doesn't work" I mean that the `loc` object is not included on any nodes.

I'd be happy to attempt to fix this myself, but I'm curious to know if this is currently supposed to work or not.

[2013-03-17 21:10] #35 closed, assigned to nobody

[2013-03-25 12:55] rikarends opened #38 "Adding "strict" causes locations to be off by the number of newlines after the "strict""
this seems to be caused by the logic that re-reads tokens after strict for pedantic tests.

  function setStrict(strct) {
    strict = strct;
    // not re-reading the tokens for pedantic tests fixes this problem
    // tokPos = lastEnd;
    // skipSpace();
    // readToken();
  }

[2013-03-25 14:11] #38 closed, assigned to nobody

[2013-03-29 09:00] TimNZ opened #40 "acorn_loose on really broken code parsing"
Awesome lib, thanks so much for it.

I want to handle really broken code parsing, and tried parsing below with parse_dammit.

getDummaryLoc(dummy) throws an error as there is no valid token and I have enabled options.locations

I don't want to fiddle with this code as I'm not worthy, so won't even attempt a pull request.
In the meantime I modified my version to skip setting loc.end if loc.start ==

[2013-04-02 11:47] #40 closed, assigned to nobody

[2013-05-08 05:40] lehni opened #41 "Problems with occurrence of 'self' in code."
In paper.js we are loading acorn.js through the vm.runInContext(source, context, uri); method. Executing it this way leads to the following error:

[code]

Replacing 'self' with 'this' solves the issue, and should still work in browsers too. Would this make sense?

https://github.com/paperjs/paper.js/issues/205

[2013-05-08 13:16] #41 closed, assigned to nobody

[2013-05-21 12:20] albertosantini opened #42 "Warning with npm 1.2.21 (node 0.10.7)"
`npm install acorn`

[code]

[2013-05-21 12:36] #42 closed, assigned to nobody

[2013-06-14 16:17] cscott opened #45 "Only half the exported tokTypes are underscore-prefixed."
See discussion at https://github.com/marijnh/acorn/commit/6fe123947be30cb565b4d575cbe3879c4ccd9672

[2013-06-16 00:30] rksm opened #46 "acorn.walk, descending into MemberExpression.property"
The base walker code for MemberExpression is

[code]

Is there any reason why to descend into `node.property` only when the node is marked as "computed" (`[...]` accessor)?

[2013-06-16 08:42] #46 closed, assigned to nobody

[2013-06-25 01:17] jpillora opened #47 "Quick Question: Rebuilding the source"
Hi Marijn,

I've done a quick search and couldn't find anything, essentially I'm looking for a walker which is the reverse of `parse`, fn(`Object`) -> `String`

Any clues :smile: ?

[2013-06-25 06:48] #47 closed, assigned to nobody

[2013-07-04 11:12] canonic-epicure opened #48 "guardedHandlers"
Not sure if this is a bug or I'm missing something. According to https://developer.mozilla.org/en-US/docs/SpiderMonkey/Parser_API
TryStatement is always expected to have "guardedHandlers" property.

But on this link https://bugzilla.mozilla.org/show_bug.cgi?id=742612 "guardedHandlers" is marked as optional. The latter document could be outdated though.

So, esprima always adds empty array for "gua

[2013-07-08 07:07] #48 closed, assigned to nobody

[2013-07-17 23:12] ojj11 opened #50 "Doesn't detect invalid labelled break statements correctly"
[code]

Produces an AST in Acorn, but in Chrome, Firefox and Esprima it complains of a syntax error that the label dance is not found.

[2013-07-26 06:56] #50 closed, assigned to nobody

[2013-07-29 23:20] lehni opened #52 "Tag version 0.3.2"
0.3.2 appears to be the latest version. It'd be good to tag in on Github so it can be installed through Bower. Thanks!

[2013-07-30 07:26] #52 closed, assigned to nobody

[2013-08-25 06:38] michaelficarra opened #53 "member access to `in` member and division"
Each of these valid programs fail to parse:

[code]

[code]

Successful esprima parse: http://esprima.org/demo/parse.html?code=a.in%20%2F%20b%0Aa.in%20%2F%3D%20b

This is the first parser bug found by my WIP fuzzer, [esfuzz](https://github.com/michaelficarra/esfuzz). Hopefully more will be on the way.

[2013-08-25 13:01] #53 closed, assigned to nobody

[2013-08-28 03:02] michaelficarra opened #54 "prefix increment/decrement of dynamic/static member access of regexp"
These valid programs all fail to parse:

[code]

[code]

[code]

[code]

Discovered by [esfuzz](https://github.com/michaelficarra/esfuzz/wiki/bugs-found-by-esfuzz) generative testing.

[2013-08-28 04:23] michaelficarra opened #55 "BlockStatement followed by RegExp starting with `=`"
The following valid program fails to parse:

[code]

Discovered by [esfuzz](https://github.com/michaelficarra/esfuzz/wiki/bugs-found-by-esfuzz) generative testing.

[2013-08-28 04:30] michaelficarra opened #56 "FunctionDeclaration followed by RegExp starting with `=`"
The following valid program fails to parse:

[code]

Discovered by [esfuzz](https://github.com/michaelficarra/esfuzz/wiki/bugs-found-by-esfuzz) generative testing.

[2013-08-28 04:34] michaelficarra opened #57 "TryStatement followed by RegExp starting with `=`"
The following valid programs fail to parse:

[code]

[code]

[code]

Discovered by [esfuzz](https://github.com/michaelficarra/esfuzz/wiki/bugs-found-by-esfuzz) generative testing.

[2013-08-28 04:42] #56 closed, assigned to nobody

[2013-08-28 04:42] #57 closed, assigned to nobody

[2013-08-28 08:35] #55 closed, assigned to nobody

[2013-08-28 14:22] #54 closed, assigned to nobody

[2013-09-02 07:57] michaelficarra opened #58 "fails with "Unsyntactic continue" when continue target is closer than closest loop"
Smallest failing case

[code]

These related programs both parse fine

[code]

[code]

Discovered by [esfuzz](https://github.com/michaelficarra/esfuzz/wiki/bugs-found-by-esfuzz) generative testing.

[2013-09-02 09:14] #58 closed, assigned to nobody

[2013-09-05 16:01] getify opened #62 "html comments are valid in JS"
I've been having an interesting discussion over on [literalizer issue #19](/getify/literalizer/issues/19) about whether HTML comments should be parsed as "valid JS".

If you check it, the following code is totally valid in most JS engines:

[code]

More specific info from @mathiasbynens can be found on this [StackOverflow question](http://stackoverflow.com/questions/17099248/why-is-the-html-commen

[2013-09-06 08:53] #62 closed, assigned to nobody

[2013-09-09 19:22] getify opened #66 "acorn annotated source code page broken after adding <!-- support"
http://marijnhaverbeke.nl/acorn/

That page breaks half-way through, in that the `<!--` character in the code is interpreted as an actual HTML comment, thereby hiding the rest of the page's content.

See the view-source:

<img src="http://gyazo.com/e71da60947e475d1f87625a62433607e.png">

[2013-09-09 20:14] #66 closed, assigned to nobody

[2013-09-30 19:31] apatil opened #67 "Semicolons after variable declarations"
Hi Marijn,

I noticed that for `var x = 0;`, the variable declaration's end location does not include the semicolon:

[code]

That has been an issue for me when using acorn to break JavaScript code up into top-level statements, because the statements in the output list lack semicolons after variable declarations even when they were present in the original code.

I started a pull request, but notic

[2013-10-02 18:39] #67 closed, assigned to nobody

[2013-10-08 19:34] aparajita opened #71 "Invalid use of tokLineStart"
In `readToken_plus_min`, you have the following line of code:

[code]

The problem is `tokLineStart` has no meaning unless `options.locations` is on, and that check is not being done here. So either you have to always update `tokLineStart` irrespective of `options.locations` or find another way to make this test.

[2013-10-10 07:59] #71 closed, assigned to nobody

[2013-10-19 11:52] BenoitZugmeyer opened #76 "Comments are reported twice when using strict mode."
This code should log the comment "Comment" only once, as it does without the 'use strict' statement.

[code]

[2013-11-11 10:26] #76 closed, assigned to nobody

[2013-11-13 11:01] jessevdk opened #78 "Support for some ES6 features"
I would like to parse some js with acorn but it makes use of some es6 features supported by the spider monkey engine. Specifically the use of const and let. I made a kind of quick'n dirty patch to implement support for both and it seems to be working fine. I was wondering if there was any interest in merging such changes. If so I can clean up my patch and submit a PR.

[2013-11-13 11:31] #45 closed, assigned to nobody

[2013-11-19 06:45] jkroso opened #80 "location data is affected by using the parser inside an `onComment` handler"
Not sure if it affects the accuracy of the location data but it does cause some `loc.end`'s to be `null`.

[2013-11-20 01:38] peterflynn opened #82 "Infinite loop when parsing expression with parens and slashes"
1. Open http://ternjs.net/doc/demo.html
2. Select all and paste in this code:

[code]
3. Put the cursor after `)` and hit control space

Result:
Infinite loop in Acorn's readWord1().  `tokPos` has become NaN somehow, so the loop never makes any more progress.

[2013-11-20 09:56] #82 closed, assigned to nobody

[2013-11-20 09:59] #80 closed, assigned to nobody

[2013-12-12 10:23] inikulin opened #83 "AST serialization"
First, thank you for such a great project.
Is there any way to serialize resulting AST, e.g. after code instrumentation?

[2013-12-12 10:41] #83 closed, assigned to nobody

[2013-12-27 22:40] nightwing opened #84 "acorn_loose doesn't correctly parse while(a-->0){}"
This happens because `lastEnd` isn't updated which breaks `newline.test(input.slice(lastEnd, tokPos))` check at
https://github.com/marijnh/acorn/blob/b1623b10c13225ae64cf68315960fb8118463efa/acorn.js#L613

[2014-01-17 09:09] #84 closed, assigned to nobody

[2014-02-13 22:30] zaach opened #85 "Reserved words are too restricted in ES5 Strict Mode"
Reserved word restrictions are overzealous in Strict Mode, e.g. this should be valid:

[code]

but produces an error:

[code]

The distinction is between [_IdentifierName_ and _Identifier_](http://www.ecma-international.org/ecma-262/5.1/#sec-7.6) in the grammar. Strict mode forbids using reserved words wherever _Identifier_ appears in the grammar, but otherwise reserved words should be allowed, e.

[2014-02-14 03:30] scriby opened #86 "SyntaxError: 'return' outside of function"
The acorn parser is throwing an error on a node source file with a return statement at the top level. I'm not certain whether this is technically valid or not, but it works in V8 and I know the uglify parser allows it.

[2014-02-14 08:55] #86 closed, assigned to nobody

[2014-02-14 10:32] #85 closed, assigned to nobody

[2014-02-18 21:59] ben-page opened #87 "Can't Parse Inline Anonymous Functions"
**Acorn can not parse this:**

[code]

It throws exception "Unexpected token (1:9)".

**Workarounds**
Acorn can parse this:

[code]

and this:

[code]

[2014-02-24 14:10] #87 closed, assigned to nobody

[2014-03-12 20:02] ecofi opened #90 "Not working for web workers"
Hi,

the project is interesting and I was looking for a way to get the script running within a web worker. Chrome browser is blocking because of security issues. I guess it is the use of an eval function. The error message is:

Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive:

[2014-04-05 02:14] qfox opened #94 "Holes in arrays should be a Literals with other meta data"
I want to talk about [Issue 525](https://code.google.com/p/esprima/issues/detail?id=525) and holes in arrays representation as nulls.

Null don't have any information about where the node was.
For example:

[code]

Will be a

[code]

And it's impossible to tell which line or which position it was.

I suppose to use Literal node for that with undefined value.

[code]

What you think about it?

[2014-04-16 15:06] #94 closed, assigned to nobody

[2014-05-11 09:44] PeppeL-G opened #97 "Parsing just expressions"
`acorn.parse` parses statements, but what if you got an expression you want to parse? Such as `function(){}`? Then `acorn.parse('function(){}')` complains, as expected, but it would be nice if one could write `acorn.parseExpression('function(){}')`. The workaround I'm using now is `acorn.parse('(<theArbitraryExpression>)')` to ensure the code is interpreted as an expression statement, but this com

[2014-05-14 04:07] dead-claudia opened #103 "Vast majority of time spent in parseStatement"
According to my V8 profiling, about 5-6% (~6.5-7% after #102, optimizing other parts) of the time spent is in parseStatement. Another issue with this is that the engine cannot optimize the function. Every call to the function in my profiling results is unoptimized, causing a major slowdown every time it's called.

[2014-06-04 02:14] #103 closed, assigned to nobody

[2014-06-04 20:42] lemiant opened #105 "Compatibilty Documentation"
I have searched far and wide and I haven't found any information on which browsers acorn can run in. Could that be added to the readme?

[2014-06-04 20:51] #105 closed, assigned to nobody

[2014-06-24 11:47] cweiske opened #108 "acorn --help is broken"
acron 0.6.0 has a broken help:

[code]

[2014-06-24 11:50] #108 closed, assigned to nobody

[2014-07-29 13:21] #78 closed, assigned to nobody

[2014-08-14 16:07] rwaldron opened #113 "let, const as VariableDeclaration?"
Currently let and const nodes have `type: "VariableDeclaration"`, but these syntactic forms aren't defined as _VariableDeclaration_ in the specification. The correct grammar definition is
_LexicalDeclaration_, defined here: https://people.mozilla.org/~jorendorff/es6-draft.html#sec-let-and-const-declarations

[2014-08-20 11:40] RReverser opened #115 "Acorn normal + loose parser merge"
Currently, loose parser needs to be supported separately from generic one which slows down development and addition of new features.

Loose parser says:

And I do understand those reasons, but I believe they could be actually merged without much efforts and slowing down generic parser. I'd like to try to make this happen to ease future development, so creating this issue for progress tracking.

[2014-08-28 15:14] r-e-d opened #118 "Function statements in strict mode"
In strict mode, function statements are only allowed at the top level of a script or function ([source](http://whereswalden.com/2011/01/24/new-es5-strict-mode-requirement-function-statements-not-at-top-level-of-a-program-or-function-are-prohibited)). Currently acorn accepts code that does not follow this rule.

For example, this code should throw a SyntaxError :

[code]

[2014-09-04 10:23] xiemaisi opened #119 "Line after HTML comments is sometimes skipped"
Consider the following input:

[code]

On `master`, we get the following AST:

[code]

Note that the `alert` statement is gone.

That's because on recognising the HTML comment, [line 703](https://github.com/marijnh/acorn/blob/master/acorn.js#L703) increments `tokPos` by 4, and then calls `skipLineComment`, which again increments it by 2 on [line 571](https://github.com/marijnh/acorn/blob/master/ac

[2014-09-05 10:21] xiemaisi opened #121 "Syntax error on strict mode functions that have the same name as one of their parameters."
Acorn complains about an "argument name clash in strict mode" for the following function:

[code]

However, I cannot find any indication in the standard that this is meant to be rejected, and neither v8 nor Spidermonkey find fault with it.

[2014-09-05 13:54] #119 closed, assigned to nobody

[2014-09-05 14:00] #121 closed, assigned to nobody

[2014-09-05 23:21] saambarati opened #123 "Content Security Policy and new Function(...)"
When using a strict content security policy, using acorn will throw an exception when it calls makePredicate because it uses the Function constructor.

Here is a test case:
`<!DOCTYPE html><html><head>
<meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
<script src="acorn.js></script></head></html>
`

[2014-09-12 01:14] konijn opened #124 "`do` is not always a loop"
Greetings,

I am using acorn to write infinite loop prevention, the following string/statement

[code]

will return this token ( among others of course )

[code]

even though that `do` is not a loop.

Thoughts?

[2014-09-12 06:43] #124 closed, assigned to nobody

[2014-09-12 15:00] #90 closed, assigned to nobody

[2014-09-12 15:01] #123 closed, assigned to nobody

[2014-09-22 13:08] ForbesLindesay opened #126 "ES6 block scoped declarations not supported by scope visitor."
The [scope visitor](https://github.com/marijnh/acorn/blob/master/util/walk.js#L318) doesn't seem to support ES6 block scoped declarations.

[2014-09-22 15:09] #126 closed, assigned to nobody

[2014-09-23 19:16] ForbesLindesay opened #127 "Template literals don't work"
[code]

Doesn't work using v0.8.0 and the `ecmaVersion` option set to `6`.  Instead it produces the following error:

[code]

[2014-09-23 20:58] #127 closed, assigned to nobody

[2014-09-24 08:59] #113 closed, assigned to nobody

[2014-09-24 08:59] #97 closed, assigned to nobody

[2014-09-24 09:02] #118 closed, assigned to nobody

[2014-09-24 10:33] ForbesLindesay opened #129 "Default parameters not properly offset"
For example:

[code]

produces:

[code]

It seems to work fine for arrow functions (where the `defaults` array has `null` values for holes).

[2014-09-26 15:04] #129 closed, assigned to nobody

[2014-09-26 16:03] #115 closed, assigned to nobody

[2014-09-29 09:18] xiemaisi opened #131 "For-of loops should only be accepted in ECMA6 mode."
Currently, they seem to be accepted regardless of the `ecmaVersion` option, which may surprise client applications that do not expect a `ForOfStatement` node in their AST.

[2014-09-29 09:28] #131 closed, assigned to nobody

[2014-09-30 09:06] r-e-d opened #133 "Strict mode incorrectly reset after function"
In some cases, acorn resets strict mode after a function even if the code was already in strict mode from an outer 'use strict' statement.

For example, this code should throw an error because of the illegal use of octal.

[code]

[2014-09-30 09:45] #133 closed, assigned to nobody

[2014-10-01 13:02] ForbesLindesay opened #135 "New release"
Can we release a new version on npm with the latest updates?

[2014-10-01 21:22] #135 closed, assigned to nobody

[2014-10-02 22:26] msridhar opened #136 "start position discrepancy with esprima"
Consider the following code:

[code]

According to [esprima](http://esprima.org/demo/parse.html?code=%28%28%28%28function%20%28%29%20%7B%0A%7D%28%29%29%29%29%29%3B%0A), the start column of both the `ExpressionStatement` and `CallExpression` node in the AST is 4.  With acorn, the start column is 0.  I don't know if there is a correct answer here, but 4 seems more right to me.  Thanks for the great

[2014-10-08 20:43] #136 closed, assigned to nobody

[2014-10-09 12:03] xiemaisi opened #138 "'const' support in non-ES6 mode"
Esprima supports `const` as a keyword on the grounds that V8 does (https://github.com/ariya/esprima/blob/master/esprima.js#L314); Acorn, as far as I can tell, only supports it in ES6 mode.

While Acorn's behaviour is more correct from a standards perspective, many browsers do support `const` and there's plenty of non-ES6 code around that uses it. Such code could, of course, simply be parsed with `

[2014-10-09 12:10] #138 closed, assigned to nobody

[2014-10-09 18:09] mrennie opened #140 "parse_dammit does not honour the 'ranges' option"
consider the following usage:

[code]

The resulting AST does not have the range arrays for the tree nodes, although it does have them for the tokens and comments. The AST produced from the example is:

[code]

[2014-10-10 14:59] martypdx opened #141 "Add `ecmaVersion: 6` support for string template "backticks""
Apologies if I have the problem in the wrong library, but looks like acorn not working on string template backticks, see https://github.com/Rich-Harris/esperanto/issues/9.

[2014-10-10 16:31] #141 closed, assigned to nobody

[2014-10-17 22:21] dead-claudia opened #143 "Feature request: Version safe for use in asynchronous calls"
I wish this had a version that didn't have global state, and thus was safe from an asynchronous standpoint. I know it may be slower, but it'll still be nice. Currently, I'm having to rewrite this as a giant class for the most part (long functions don't optimize in V8, but state is needed), but it isn't convenient nor pretty.

[2014-10-19 17:11] jamiebuilds opened #145 "FunctionExpressions aren't being marked as expressions"
[code]

[2014-10-19 17:27] #145 closed, assigned to nobody

[2014-10-20 06:36] #143 closed, assigned to nobody

[2014-10-21 07:05] danielstjules opened #146 "Loose parser misidentifying const variable declarations"
Hi! First, I have to say - acorn is awesome. Thanks for all your hard work on it! I ran into a small issue with it today though.

While the regular parser will label something like `const a = 10` as a VariableDeclaration with a `kind: const`, the loose_parser currently misidentifies it as an ExpressionStatement. Please refer to the example below:

[code]

[code]

[2014-10-21 07:12] #146 closed, assigned to nobody

[2014-10-21 08:45] xiemaisi opened #147 "Escape sequence '\U' is not parsed correctly"
https://github.com/marijnh/acorn/commit/372e1d42f398ceaffe27151348af67084f121d27 introduced support for `\Uxxxxxxxx` escape sequences, but in the process broke support for the identity escape sequence `\U`, which (at least in ECMA 5) stands for the character `U` itself. It now leads to a `Bad character escape` error.

[2014-10-21 10:14] #140 closed, assigned to nobody

[2014-10-21 14:40] #147 closed, assigned to nobody

[2014-11-03 10:49] sebmck opened #152 "Computed static mutator class methods"
Currently the following will fail to parse:

[code]

It's due to the test on [line 2405 in parseClass](https://github.com/marijnh/acorn/blob/9d3580b23ac6e5a55013339c3b13cde5c6a6072b/acorn.js#L2405) failing at `tokType === _name` because it actually equals `_bracketL`. I've tried to take a crack at it but I'm not familiar enough with the codebase or parsers in general to make sense of everything.

[2014-11-04 10:09] #152 closed, assigned to nobody

[2014-11-09 01:19] sebmck opened #155 "preserveParens causes SyntaxError on ObjectPattern assignment"
The following throws "Assigning to rvalue (1:1)":

[code]

However the following works:

[code]

Is this expected behaviour?

[2014-11-09 05:01] sebmck opened #157 "ImportBatchSpecifier vs ImportNamespaceSpecifier"
Currently there's a discrepancy between Acorn and Esprima where Acorn has a `ImportBatchSpecifier` node which has an `name` property while Esprima uses `ImportNamespaceSpecifier` with an `id` property. How are node types standardised (if at all) and which is correct?

[2014-11-09 12:01] #157 closed, assigned to nobody

[2014-11-09 13:01] #155 closed, assigned to nobody

[2014-11-14 03:46] vassoz opened #160 "Acorn Loose parser sets wrong range for some Property nodes"
Steps to reproduce:
1. Build AST for code: "call({&nbsp;&nbsp;name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;})"
2. Check start and end of the only Propery node
Actual result: start: 12, end: 13
Expected result: start: 8, end: 20

AST (Property node only):

[code]

[2014-11-15 06:55] dead-claudia opened #161 "Improper error thrown for default + namespace ES6 import"
On parsing the statement `import foo, * as bar from "baz";`, I got a syntax error. This is [not following spec](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-imports), as it is a valid statement.

Relevant grammar in spec:

_ImportDeclaration_ `:`
&nbsp; &nbsp; &nbsp; &nbsp; `import` _ImportClause_ _FromClause_ `;`
&nbsp; &nbsp; &nbsp; &nbsp; `import` _ModuleSpecifier_ `;`

_ImportClau

[2014-11-15 07:11] dead-claudia opened #162 "Unnecessary empty statement appended after import statements terminated by an explicit semicolon"
Verified on Node v0.10.33 with Acorn 0.9.0

Here are a couple examples:
- `acorn.parse('import "bar";')`:

  Result:

[code]

  Should be:

[code]
- `acorn.parse('import "bar";baz;')`

  Result:

[code]

  Should be:

[code]

This doesn't happen when the import statement is terminated via ASI:
- `acorn.parse('import "baz"')`

  Result:

[code]
- `acorn.parse('import "bar"\nbaz;')`

  Result:

[cod

[2014-11-15 07:16] #162 closed, assigned to nobody

[2014-11-15 09:27] dead-claudia opened #164 ""name" property on ImportBatchSpecifier (ES6)"
I noticed that ImportSpecifier uses "id" for the imported binding, both default and not, and "name" for an alias of the non-default version, but ImportBatchSpecifier uses "name" only. Is there any reason it is inconsistent in this way? Just curious.

[2014-11-15 09:39] #164 closed, assigned to nobody

[2014-11-15 16:54] Craga89 opened #165 "[Feature?] async keyword disallowed as object property name"
It looks like with the addition of the `await`/`async` feature the use of the `async` keyboard as an object property name isn't supported.

[code]

Is this intended behaviour? Can workaround it by quoting the property name as an intermediate fix.

[2014-11-16 22:36] danielstjules opened #166 "Interest in changing walker behaviour?"
https://github.com/marijnh/acorn/blob/master/util/walk.js#L25-L33

The walkers currently uses DFS for traversal, but does not emit the nodes in that order. Given a tree with `a` as the root node, with two children, it would traverse said AST in the following order:

[code]

Would there be any interest in updating the walkers to invoke `if (found) found(node, st);` prior to `base[type](node, st, c)

[2014-11-19 13:07] #161 closed, assigned to nobody

[2014-11-21 12:43] #160 closed, assigned to nobody

[2014-11-21 12:46] #165 closed, assigned to nobody

[2014-11-21 12:50] #166 closed, assigned to nobody

[2014-11-23 21:56] nzakas opened #168 "Pluggable extensions support?"
Just curious if you would consider supporting JSX syntax behind a flag (off by default)? If so, I'm willing to create a pull request for it.

I'm asking because I'd like to use Acorn in ESLint.

[2014-11-24 09:53] janus926 opened #169 "Failed tokenizing multiline template strings"
Here's the code for reproducing the issue:

[code]

Running the script got this:

SyntaxError: Unexpected character '@' (2:4)
    at raise (/home/ting/w/fx/os/node_modules/acorn/acorn.js:329:15)
    at readToken (/home/ting/w/fx/os/node_modules/acorn/acorn.js:912:7)
    at getToken (/home/ting/w/fx/os/node_modules/acorn/acorn.js:222:7)
    at Object.<anonymous> (/home/ting/w/fx/os/bug-1102799.js:1

[2014-11-25 17:00] djziegler opened #170 "Incorrect parsing of nested comments (should be an error)"
Nested '/*' are incorrectly allowed in the body of a '/*' comment.  For example, given the
program:

[code]

The second comment will parse as:

[code]

Where it should be a parse error.

[2014-11-25 17:22] #170 closed, assigned to nobody

[2014-11-26 18:27] cldwalker opened #171 "Unterminated string constant error for map"
Using 0.9.0, I'm seeing a `SyntaxError: Unterminated string constant (7:5)` error when parsing (acorn.parse) the following string:

[code]

This was initially reported by one of our Light Table users at LightTable/LightTable#1744. Happy to provide more info on how Light Table uses acorn if that helps.

[2014-11-27 02:52] #171 closed, assigned to nobody

[2014-12-02 22:02] Attamusc opened #173 "Template literal with curly braces"
Hello!

The following code is throwing an "Unexpected token" error when parsing

[code]

while this does not

[code]

It seems due to the immediate presence of a closing curly brace after the interpolated variable's closing curly brace.

[2014-12-07 17:56] #173 closed, assigned to nobody

[2014-12-08 08:32] hgl opened #174 "export and import are not statements"
According to https://people.mozilla.org/~jorendorff/es6-draft.html#sec-modules, the following, which is now happily parsed, should be syntax error:

[code]

[2014-12-09 12:56] ppitonak opened #175 "Upgrade jQuery"
Retire.js shows a warning that acorn uses a vulnerable jQuery. Although it shouldn't cause any problems in production, it's annoying because it appears in reports for all projects transitively depending on acorn (e.g. projects using jade).

[code]

[2014-12-09 14:36] #175 closed, assigned to nobody

[2014-12-11 08:36] hgl opened #177 "Allow export default var a"
This is currently syntax error, which i believe is valid in es6:

[code]

Not sure if changing `node.declaration = parseExpression(true);` to `node.declaration = parseStatement(true);` in `parseExport()` would do it.

[2014-12-11 08:54] #177 closed, assigned to nobody

[2014-12-11 13:30] #169 closed, assigned to nobody

[2014-12-11 13:47] #174 closed, assigned to nobody

[2014-12-15 16:53] hgl opened #178 "Assigning to object property with destructuring assignment doesn't parse"
[code]

This should be valid syntax, which currently doesn't parse.

[2014-12-16 20:01] menixator opened #179 "Get a valid AST tree(if possible) when an error occurs"
First of, thank you for the awesome library!

Now, to the problem at hand:
While I was using `acorn.parseExpressionAt`, `acorn` throws an error whenever there is an a
an operator in the way.

For instance:

[code]

This throws an error. What I want is for acorn return the AST **before** it reaches the operator and throws the error.

The only way around it(that I can currently think of) is to repar

[2014-12-16 21:20] #179 closed, assigned to nobody

[2014-12-17 12:13] menixator opened #180 "acorn binary chokes on hashbangs"
Whenever acorn's binary sees a hashbang, it throws an error.
I don't know if that is intended or not, but it is really inconvenient when checking binary scripts for syntax errors.

[2014-12-17 12:54] RReverser opened #181 "Add support for destructuring defaults"
Tracking issue for destructuring defaults in array elements / property values.

[2014-12-17 12:58] RReverser opened #182 "Remove Function::rest and Function::defaults in favor of pattern nodes"
Tracking issue for deprecating `rest` and `defaults` properties in `FunctionExpression`, `FunctionStatement`, `ArrowExpression`, `MethodDefinition` in favor of common destructuring nodes (`SpreadElement`, `AssignmentPattern`) used in other places (as per agreement with Mozilla and upcoming changes in `Reflect.parse`).

[2014-12-17 17:58] #180 closed, assigned to RReverser

[2014-12-17 18:45] #178 closed, assigned to RReverser

[2014-12-22 18:27] mrjoelkemp opened #183 "Make allowHashBang have a default of true"
Love the addition in #180, but I don't really agree with the reasoning for the option to be `false` by default.

Needless to say, this plugin is used by the node ecosystem for parsing projects that also have binary scripts (using hashbang but still JS files). We're not talking about using this tool to parse bash scripts. What harm does it cause to make hashbangs skipped by default and have consume

[2014-12-30 01:05] sebmck opened #185 "Class super should be a LeftHandSideExpression not an Expression"
14.5

[2014-12-30 10:02] sairion opened #186 "Object destructuring fails when using 'get' or 'set' as shorthand property name"
Please see here for more details: https://github.com/6to5/6to5/issues/358

I found this bug while using 6to5 but told to report here (I believe they use their fork [acorn-6to5](https://github.com/6to5/acorn-6to5) though).

[2014-12-30 10:52] #183 closed, assigned to nobody

[2014-12-30 11:43] #186 closed, assigned to nobody

[2014-12-30 11:53] #185 closed, assigned to nobody

[2015-01-02 06:44] sebmck opened #187 "Literals are valid LeftHandSideExpressions"
So turns out that `null` and other literals are valid `LeftHandSideExpression`s and through the use of [early error conditions](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-assignment-operators-static-semantics-early-errors) disallows `Literal`s in `AssignmentExpression` etc.

References: kangax/compat-table#380, #185, https://twitter.com/webbedspace/status/550898215130640384

[2015-01-02 06:49] getify commented on #187
weird.

[2015-01-02 06:52] sebmck commented on #187
Yeah it's bizzare and weird but what else can you expect from JavaScript. 😕

[2015-01-02 11:23] marijnh commented on #187
So this might mean we have to revert 0b59fc198b (#185) again, since LeftHandSideExpression does not actually mean the same as 'is assignable to'?

[2015-01-02 11:27] sebmck commented on #187
@marijnh That commit is fine, it's just that `checkLVal` behaves incorrectly. `checkLVal` isn't synonymous with "is assignable to", so another method will have to be made like `checkAssignable` and it used in those scenarios.

[2015-01-02 11:37] marijnh commented on #187
As far as I can see, `checkLVal` encodes exactly the tests for being assignable to, rather than being a `LeftHandSideExpression`.

[2015-01-02 11:38] sebmck commented on #187
@marijnh Woops, you're right. I naively jumped to the conclusion that `lval` stood for `lefthand value` or something like that.

[2015-01-02 12:12] marijnh commented on #187
It does, but not in the way the JS grammar uses lefthand value ('lval' is traditionally also used to mean 'can be assigned to').

[2015-01-02 13:28] michaelficarra commented on #187
Any expression is a LeftHandSideExpression through grouping parentheses.

[2015-01-02 13:50] marijnh commented on #187
So then this is simply about precedence, and patch 0b59fc1 should definitely be reverted (and replaced by making a call to `parseExprSubscripts` instead of `parseExpression`, maybe?)

[2015-01-02 13:58] michaelficarra commented on #187
Yes. And add parentheses around the class expression in the test.

[2015-01-03 00:19] fitzgen opened #189 "Acorn fails to tokenize valid JS source"
Tokenizing the following valid JS source fails with `Expecting Unicode escape sequence \uXXXX (1:68)`:

    {var o=f[h];g[c]=o.slice&&"%"==o.slice(-1)?parseFloat(o)/100*m:o}/^\d+$/.test(g[c])

## Steps to reproduce:

* Save the above test case as `test-case.js`.

* Checkout https://github.com/marijnh/acorn/pull/188 to access the tokenizer from the `bin/acorn` script.

* Run `acorn --tokenize test-

[2015-01-03 00:22] fitzgen commented on #189
It is interesting that acorn can parse this just fine (remove the `--tokenize` flag), but it just can't tokenize it.

[2015-01-03 09:13] marijnh commented on #189
As you are probably aware, JS-style regexp syntax is rather hard to tokenize, because it is ambiguous with the division operator. In most cases, the preceding token can be accurately used to determine whether an expression is expected or not, so a stand-alone tokenizer can handle them. But there are some situations involving statements starting with a regexp (`if (x) /foo/` and `{blah;} /foo/`) wh

[2015-01-03 09:26] RReverser commented on #189
This already works by setting `onToken` handler in options.

[2015-01-03 22:04] marijnh commented on #189
No it isn't. Though this is probably the best way to approach this. Currently, `onToken` will fire both for the initially seen division operator, and then again for the regexp token, so you'll get bogus output.

[2015-01-04 06:05] SomeoneWeird commented on #181
+1

[2015-01-04 21:14] marijnh commented on #189
Attached patch fixes `onToken` to correctly ignore overridden tokens. You should now be able to parse normally, and use an `onToken` option to get the tokens. This is more expensive (an AST is built up), but solves the problem of needing a parser to drive the tokenizer.

    var tokens = [];
    acorn.parse("{foo;} /bar/", {onToken: tokens});
    console.log(tokens);

Does that help?

[2015-01-04 21:30] marijnh commented on #187
Those should take care of this.

[2015-01-04 21:30] #187 closed

[2015-01-05 11:45] sebmck opened #191 "Catch param can be a pattern"
13.14

[code]

[2015-01-05 18:55] jlongster commented on #189
The major ground-breaking part of [sweet.js](https://github.com/mozilla/sweet.js) is they have solved this. There is an un-ambiguous algorithm for tokenizing JS with regexps. The design is here: https://github.com/mozilla/sweet.js/wiki/design

esprima, in fact, has adopted the algorithm: https://github.com/esnext/esprima/blob/master/esprima.js#L1293, and I recommend you do the same.

[2015-01-05 19:12] fitzgen commented on #189
This is cropping up in minified code, where something like

    if (/foo/.test(bar)) { baz(); } else { bang(); }

is compiled to

    /foo/.test(a)?b():c()

and I suspect it isn't as rare as one would otherwise believe.

What @jlongster proposes would be most ideal for my use case. Are you open to that approach?

I am using the tokenizer for pretty printing, and we avoid fully parsing the source c

[2015-01-06 10:08] marijnh commented on #189
@jlongster That's interesting. It is pushing the boundaries of what a tokenizer is, I guess, but I was able to port it to Acorn without introducing too much inefficiency (about 3%). See attached patches. This does also remove some kludges, so I guess it's a net improvement. (It does, of course introduce its own rather fragile kludge.)

Please try again with these patches.

[2015-01-06 12:30] kentcdodds commented on #181
Good call @RReverser. I'm really looking forward to the shorthand syntax, but not at the expense of things being done correctly. Looking forward to full support as soon as you're able! :D

[2015-01-06 17:02] fitzgen commented on #189
@marijnh thanks! I've verified that the scripts we've been having trouble with previously are now successfully tokenized.

Building firefox to test with the devtools now...

[2015-01-06 17:08] fitzgen commented on #189
@marijnh all good! Thanks again!

[2015-01-06 17:08] #189 closed

[2015-01-06 20:37] jlongster commented on #189
@marijnh cool! yeah, it's still messy, but at least it's rather self-contained. glad it worked out!

[2015-01-08 01:46] sebmck opened #192 "Class method name can be `static`"
eg.

[code]

[2015-01-08 11:47] jakearchibald commented on #181
Will this also cover destructuring defaults within optional params? Eg:

[code]

[2015-01-08 11:48] sebmck commented on #181
@jakearchibald It definently does since there's no special case needed to handle it.

[2015-01-08 18:26] RReverser commented on #181
@sebmck Just added another patch, so the only thing not supported yet is:

[code]

(specifically [1] default value [2] for shorthand property [3] in expression - if any of these conditions is not met, it works, so should cover most use cases; I'll think about how to cover that edge case as well without changing too much code just for it)

[2015-01-08 18:54] sebmck commented on #181
@RReverser Awesome! Thank you!

[2015-01-08 18:57] RReverser commented on #181
@jakearchibald Btw, your example does parse now as well.

[2015-01-08 20:27] sebmck commented on #181
Also just a few more edgecases

[code]

[code]

[2015-01-08 20:29] RReverser commented on #181
All of those match my set of conditions - default value for shorthand property in expression :) But thanks, will be fixed.

[2015-01-08 20:30] sebmck commented on #181
Sorry! Somehow missed your comment.

[2015-01-09 00:28] jakearchibald commented on #181
This is brilliant!

[2015-01-09 00:50] #191 closed

[2015-01-09 13:31] #192 closed

[2015-01-10 22:34] caitp commented on #168
myself and @jugglinmike were talking about ways to make jshint pluggable.

An idea I played with for the past few months, was refactoring jshint to produce an AST structure, and for linting, walk the tree with a linting visitor, and finally invoke some post-walk hook to let things finish up if they need to.

Making linting rules pluggable is easy, but the hard thing is making the AST generation pl

[2015-01-11 16:01] nzakas commented on #168
You should take a look at [ESLint](http://eslint.org). It's already pluggable. :)

[2015-01-11 16:10] caitp commented on #168
@nzakas, no, you misunderstand. Eslint does not have a pluggable parser, which makes it a pain to support experimental/non-tc39-vetted language features without simply forking it. Above, we're talking about making the parser and AST generator pluggable. Espree is not pluggable, so it does not solve this problem

[2015-01-11 16:21] nzakas commented on #168
Ah, thanks for the clarification!

[2015-01-11 16:29] caitp commented on #168
If you're interested, we could work on ways of making parsing and AST generation both extensible and interoperable, we definitely need more people working on it if we want to do that

[2015-01-11 16:37] mrjoelkemp commented on #168
Hey @caitp. A pluggable AST generator is an interesting concept, but the problem that it's solving isn't clear to me from what you've written. Do you have links to any discussions threads for more background information? Thanks in advance.

[2015-01-11 16:44] caitp commented on #168
there isn't much, some scribbles on cocktail napkins, and a small amount of discussion in https://github.com/jshint/jshint/issues/2079 as well as [#jshint](http://webchat.freenode.net/?channels=jshint) on irc. But if folks are interested, I'm happy to do some basic prototyping and put together a more cohesive plan

[2015-01-11 16:45] RReverser commented on #168
Pluggable parsing based on Esprima is already solved with Sweet.js, why reinventing already existing tools if you can just use/extract needed parts?

[2015-01-12 18:13] PlNG opened #193 "A commit has broken the benchmark page"
Just a heads up that a recent commit (sometime in the last week give or take a few days) has broken the benchmark page - an error is being thrown now.

[2015-01-12 18:19] RReverser commented on #193
I'll check it out in a sec, thanks!

[2015-01-12 18:31] #193 closed

[2015-01-13 00:30] mrennie opened #194 "Tokens are no longer returned from parse_dammit"
Parse the following with the the latest from master:
[code]
using the following parser options:

[code]
where tokens and comments are both arrays. if you inspect the tokens array after the parse it is empty.

Looks like the call to options.onToken has been removed from finishToken.

[2015-01-13 08:54] marijnh commented on #194
I figured no one would be using this option with the loose parser. Guess you are. Patch 1b8069e fixes this.

[2015-01-13 08:55] #194 closed

[2015-01-13 15:04] mrennie opened #196 "Punctuator tokens do not have a value property set"
Parse the following (with the latest from master):

[code]

Unlike all of the other token kinds, the punctuator (;) token does not have its value property set. To be consistent all tokens should have their value property set. A use case for this is running linting tools (in our case eslint) that have rules that check for missing semicolons by checking token values (token.value).

Another place for

[2015-01-13 15:13] RReverser commented on #196
It's not the only one - value is given when it has some specific meaning and token type is not enough (for example, for literal, name, relational token etc.).

But Eslint is based on Espree and not Acorn, isn't it? In any case, you should compare with corresponding token from `acorn.tokTypes` (i.e. `tokType === acorn.tokTypes.semi` for semicolor).

Token value is not reliable for such checks becau

[2015-01-13 15:39] mrennie commented on #196
That makes perfect sense. It would still be more consistent to set the value of punctuator token with the expectation consumers would use the type to resolve the diff between the punctuator ';' vs. the literal ';'. For what its worth this is how Esprima handles it, both have the same value but one type is 'Punctuator' and the other type is 'Literal'

It uses Esprima by default, but in Orion we are

[2015-01-13 15:56] mrennie opened #197 "Incomplete block comment truncates token list"
Parse the following with parse_dammit (with the latest from master):

[code]
After the parse inspect the token list and notice that the punctuator ';' is missing from the list. Since the incomplete comment is after the complete statement I would assume the punctuator token would be added to the list.

Looks like the problem is that extra space / comments are skipped as part of the finishToken phas

[2015-01-13 21:18] #197 closed

[2015-01-13 21:26] marijnh commented on #196
I don't see how that is more consistent. Acorn uses token _types_ to identify the kind of token, and uses different types for different kind of 'punctuators' (the concept of a punctuator does not exist in Acorn). It only fills in a value for token types that can contain different kinds of values, which is not the case for semicolon tokens. This is perfectly consistent, just different from what Esp

[2015-01-13 21:26] marijnh commented on #196
So anyway, I'm closing this as being by design.

[2015-01-13 21:26] #196 closed

[2015-01-14 03:18] mrennie opened #199 "parse_dammit fails to parse ArrayExpression on multiple lines"
Using the latest from master parse the following:

[code]

The resulting AST has three root nodes in the body (I would expect only a variableDeclaration node) and has only one element in the elements array of the ArrayExpression node (I would expect three Literal nodes).

Acorn.parse(...) properly parses the same expression correctly.

[2015-01-14 11:59] RReverser commented on #199
This is kind of [by design](https://github.com/marijnh/acorn/blob/master/acorn_loose.js#L21-L24):

[code]

Loose parser expects that code is already corrupted, so it doesn't rely strictly on token list, but rather on indentation in order to complete same-indented expressions as incomplete lists, i.e.:

[code]

is treated as single-line array (which it seems to be the most valid assumption based on

[2015-01-14 14:07] RReverser commented on #189
@jlongster @marijnh @fitzgen Thanks guys! This really shifted the boundaries of tokenizer's power, and in fact helped me with rewriting `acorn-jsx` which I'm going to release within next few days.

I realized that **`/` as a division op** vs **`/` as a beginning of regexp** have same contexts and so disambiguation rules as a **`<` as a less op** vs **`<` as a beginning of JSX tag**, and it worked!

[2015-01-14 14:43] mrennie commented on #199
Thanks for the pointer, but this feels like a serious flaw. I assumed (obviously incorrectly) that both parsers could parse valid JavaScript code, just that parse_dammit could recover in certain failure cases.

This would not be ideal. In Orion 99% of parsing is done on files that are not complete (i.e. for content assist, marking occurrences, etc) and some of the files are very large - the perfor

[2015-01-14 14:58] marijnh commented on #199
I did at some point sketch out a design for a loose parser that would parse in two passes, first trying to match brackets, and then doing the actual parsing. I never got around to implementing it because it is a lot of work. If someone (IBM?) is willing to invest money in this and pay me to build it, get in contact.

[2015-01-14 15:20] mrennie commented on #199
I would be more than happy to work on ensuring parse_dammit can parse valid JavaScript source it you would be interested in such a contribution.

[2015-01-16 17:44] kentor opened #201 "Template strings with leading regexp literal expression"
[code]

Originally reported here https://github.com/6to5/6to5/issues/512.

[2015-01-16 19:47] tolmasky opened #202 "Lets not in blocks should throw SyntaxError: Illegal let declaration in unprotected statement context"
The following parse correctly in Acorn but should not:

    if (true) let x = 9
    for (;;) let u = 10;

However, this should continue parsing correctly:

    for (let i = 10;;) ;

But this should not:

    for (let i = 10;;) let o = 9;

[2015-01-17 13:26] RReverser commented on #201
This seems to be fixed with #200, just waiting for @marijnh to review.

[2015-01-17 21:26] marijnh commented on #201
Indeed, parses fine with that pull request merged. I've added a test in dac747d

[2015-01-17 21:26] #201 closed

[2015-01-17 21:26] marijnh commented on #202
Which part of the grammar forbids this? Does the same go for const?

[2015-01-17 21:27] marijnh commented on #199
Feel free to take a stab at it. But keep performance in mind -- the loose parser should also remain fast.

[2015-01-17 22:00] tolmasky commented on #202
Yes also for const. If you look in Firefox you currently get the error for let (but not yet const), and in v8 you get it for both (testable in iojs).

You can find discussion on it here: https://bugzilla.mozilla.org/show_bug.cgi?id=408957
And this seems to show how its described in the grammar (very subtle): https://esdiscuss.org/topic/syntax-error-for-lexical-declarations-not-directly-within-bloc

[2015-01-17 22:09] marijnh commented on #202
That makes sense. This is probably best done by separating the logic for parsing declarations out of `parseStatement`, and calling the new `parseDeclaration` only in places where it is allowed. @RReverser is this something you'd be interested in?

[2015-01-17 22:09] marijnh commented on #202
Also, the relevant part of the grammar is https://people.mozilla.org/~jorendorff/es6-draft.html#sec-ecmascript-language-statements-and-declarations

[2015-01-17 22:13] tolmasky commented on #202
Is there separately a place to file bugs on the parser API itself (I've tried to find such a place before but haven't succeeded)? This bug is certainly fixable here, but it seems that the MDN Parser API is now erroneously lossy from the ECMA definition (perhaps always the case? perhaps only now with 6 additions?).  Either way these two constructions are simply one in the API and thus it can't real

[2015-01-17 22:51] kentor commented on #201
Great! Thanks :)

[2015-01-18 08:48] RReverser commented on #202
@tolmasky MDN Parser API documentation is not really up-to-date and doesn't reflect all the new features as Mozilla is still working on those. You could try to look for / submit discussion at their Bugzilla, but I'm not sure they'll work on it until finishing implementations of features theirselves.

[2015-01-18 08:52] RReverser commented on #202
@marijnh I can, but currently heading to London for a couple of days and will be having some other things to work on there. If you don't get to this earlier, then I'll take this by the end of next week.

[2015-01-20 11:54] #202 closed

[2015-01-20 11:54] marijnh commented on #202
All right, I've pushed a patch (using an argument to `parseStatement` rather than a separate function).

[2015-01-23 03:19] sebmck opened #203 "Blocks with label break the tokenizer"
[code]

[2015-01-23 03:22] sebmck opened #204 "Unterminated regular expression when dividing a function expression"
[code]

[2015-01-23 09:48] #203 closed

[2015-01-23 09:52] RReverser commented on #204
I *love* those examples that are syntactically valid while make absolutely no sense in runtime :P

[2015-01-23 09:52] sebmck commented on #204
Yeah, [test262](https://github.com/tc39/test262) is full of them, which is how I found this one.

[2015-01-23 10:04] RReverser commented on #204
I'm wondering how named function expression followed by division is meant to be treated in such context.

I mean:

[code]

vs

[code]

(both cases could be valid, so `/` after function is ambiguous anyway)

[2015-01-23 10:10] sebmck commented on #204
For context [this](https://github.com/tc39/test262/blob/master/test/language/expressions/division/S11.5.2_A3_T1.5.js) is the monstrosity that it occurs in.

[2015-01-23 10:30] marijnh commented on #204
No, they are not. The second _should_ produce a syntax error, because `function` occurring at statement level is a function declaration, never a function expression (and thus the / starts a regexp).

[2015-01-23 10:31] RReverser commented on #204
Already checked that, too, just claiming that it still feels illogical to allow division of function in certain contexts.

[2015-01-23 10:35] RReverser commented on #204
@marijnh Anyway, already hacking on this.

[2015-01-23 10:38] marijnh commented on #204
Okay. I was also looking. I think we need to distinguish between `b_stat` contexts that are normal statement blocks, and those that are function expression bodies, and treat the second differently in `tokExprAllowed = !(out && out.isExpr);` at the top of `finishToken`.

[2015-01-23 10:42] RReverser commented on #204
Agree. I'm trying to accomplish that via separate `function expression` context that wraps entire function expression so, when after `braceR` our parent context is `function expression`, we go out of it and set `tokExprAllowed = false`. Let me know if you have something better in mind.

[2015-01-23 10:43] marijnh commented on #204
Sounds good, just make sure all the other code that looks at context objects deals correctly with the new context type.

[2015-01-23 11:17] #204 closed

[2015-01-23 11:25] sebmck commented on #204
Thanks @RReverser!

[2015-01-23 12:03] RReverser opened #205 "SpreadElement -> RestElement when used as binding"
For compatibility with `Reflect.parse` and simpler processing on consumer side.

[2015-01-23 12:14] #205 closed

[2015-01-23 12:14] RReverser commented on #205
/cc @sebmck

[2015-01-23 13:29] #182 closed

[2015-01-23 13:30] RReverser commented on #182
/cc @sebmck

[2015-01-24 11:41] RReverser commented on #181
Not very elegant solution, but now supports object patterns with shorthand defaults and raises error when shorthand assignment appears in r-value. /cc @sebmck

[2015-01-24 11:41] #181 closed

[2015-01-26 15:21] PlNG opened #206 "Closure compiler seems to think there are bugs..."
So after adding weakly typed (I didn't go in-depth over the object and array contents) JSDoc annotations for Closure Compiler, it seems to think that these statements will always evaluate to false:

    JSC_DETERMINISTIC_TEST: condition always evaluates to false
    left : ({keyword: string})
    right: {beforeExpr: boolean, binop: number, keyword: string}
[tokType === _in](https://github.com/mari

[2015-01-26 15:38] RReverser commented on #206
You shouldn't rely on Closure Compiler's output for code that wasn't written with it's annotations in mind IMO. Even in first example:

[code]

Closure Compiler seems to think from [`varKind = tokType.keyword`](https://github.com/marijnh/acorn/blob/master/acorn.js#L1836) that `tokType` has structure of `{keyword: string}` while it might have [various structures](https://github.com/marijnh/acorn/bl

[2015-01-26 15:42] RReverser commented on #206
I guess I'll close this as a non-issue since it's not about syntax support nor implementation bugs, but is rather about warnings in specific library that requires annotations in order to work properly.

[2015-01-26 15:42] #206 closed

[2015-01-26 16:54] PlNG commented on #206
Ok, thank you for your feedback.

[2015-02-04 23:24] sebmck opened #207 "No line break allowed between params and =>"
For example the following shouldn't parse:

[code]

### [14.2 Arrow Function Definitions](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-arrow-function-definitions)

[2015-02-05 06:44] RReverser commented on #207
That was already fixed :P

[2015-02-05 06:45] #207 closed

[2015-02-05 06:45] sebmck commented on #207
@RReverser Nice timing, thanks!

[2015-02-05 06:53] RReverser commented on #207
Fixed it yesterday as saw this issue in ES6 compat table: https://github.com/marijnh/acorn/commit/c03455021593f7ddec24c96b1ca7172844a3d5a5

[2015-02-06 20:44] caridy opened #208 "`HoistableDeclaration` for `export default function () {}`"
follow up from the discussion on https://github.com/jquery/esprima/issues/311

after a quick look at the source, I don't see `HoistableDeclaration`.

I only see this:

[code]

we are missing `expr.type` for `HoistableDeclaration`.

/cc @sebmck

[2015-02-06 21:15] sebmck commented on #208
Isn't `HoistableDeclaration` a `FunctionDeclaration`?

[2015-02-06 21:16] sebmck commented on #208
This is how the syntax is defined.

And since there's no `GeneratorDeclaration` as it's just a `generator` property defined on a `FunctionDeclaration` it makes `HoistableDeclaration` equivalent, no?

[2015-02-06 21:32] sebmck commented on #208
Ah right, you mean for anonymous functions. Does this really necessitate the addition of another node type when `FunctionExpression` is behaviourally equivalent in this context and can be reused?

[2015-02-06 22:16] michaelficarra commented on #208
It'd be really unfortunate to introduce a new node type for that.

[2015-02-06 22:18] sebmck commented on #208
@michaelficarra Agreed. Adds unnecessary complications for consumers.

[2015-02-06 23:02] caridy commented on #208
no, it is not equivalent because `FunctionExpression` is not hoisted. I suspect that for the transpiler we can desugar this:

[code]

to this:

[code]

this is especially important if we are going do to any folding/bundling where the order of the definitions for the cycles is important.

[2015-02-06 23:12] sebmck commented on #208
@caridy Yeah sure, but I'm arguing about representing it differently using an already existing construct.

[2015-02-06 23:16] sebmck commented on #208
It'd be best to keep the discussion to jquery/esprima#/311

[2015-02-12 17:41] domenic opened #209 "Release a 1.0.0?"
I'd like a semver guarantee of API stability. As-is, the package is below version 1.0.0, so I have to pin it exactly, since at any time backward-incompatible changes could be made. That means I might miss out on bugfixes and performance improvements :(

[2015-02-12 18:15] RReverser commented on #209
Yeah, we with @marijnh also want to do that, but there is still some divergency between SpiderMonkey-based parsers in node types for some ES6 syntax features. So we want to get agreed on those before going "stable" so that nothing will be seriously broken after 1.0.

During last couple of weeks (after Esprima went under jQuery), we could finally start working on this topic with others, and I don't

[2015-02-12 20:57] sebmck commented on #209
Probably best to hold off 1.0.0 until [estree](https://github.com/estree/estree) is stable and supported by esprima and acorn.

[2015-02-12 20:59] domenic commented on #209
I don't understand the hesitation here. Positive integers are free. If you have to release 2.0.0 and 3.0.0 in short succession due to jQuery Foundation or estree or whatever, that's fine. But in the meantime you're in 0.x la-la land and that means I'm going to have to miss out on any bug fixes when I pin.

[2015-02-12 22:13] RReverser commented on #209
I just don't understand why releasing 1.0.0 when there might be a bunch of breaking changes in returned results between 0.* and 1.0? Just to look like "stable"?

Just don't pin but use range like `^0.11.1` so that you'll get all the bug fixes but not the breaking changes.

[2015-02-12 22:21] domenic commented on #209
So you are guaranteeing that there will be no breaking changes on patch versions, even below 1.0.0? Because that's not how most packages work (because it's not what semver guarantees).

And if you are guaranteeing that, why not just follow semver and go to 1.0.0 and bump patches there, instead of at 0.x?

[2015-02-12 22:28] RReverser commented on #209
Yep, that's how it worked so far.

Because then `^` (which npm uses by default when you do `npm install acorn --save`) would start accepting any `1.x.y` versions so that for breaking changes we would require to update major version each time and would go way too high as ES6 representations are not currently stabilized.

Actually I think that 0.11.x is the last range before 1.0 as now we have concr

[2015-02-12 22:29] domenic commented on #209
What is too high? `Number.MAX_SAFE_INTEGER` is a long ways off, so that is probably not what you mean. I am confused.

[2015-02-12 22:44] marijnh commented on #209
Many people (me included, oftentimes) do attach some emotional significance to major version numbers, seeing them as representing an 'era' of a software project. This, I agree, doesn't work too well with semantic versioning, and we might have to get over it, but for the moment, 1.0 is planned to represent the milestone of being feature-complete and having a well-considered API, and we're not quite

[2015-02-14 00:25] hayes opened #210 "Tree walk does not support ParenthesizedExpression"

[2015-02-17 13:25] marijnh commented on #208
Given that `HoistableDeclaration` does not exist as a node type, I can see no reason for this issue to stay open.

[2015-02-17 13:25] #208 closed

[2015-02-17 14:08] #210 closed

[2015-03-02 21:06] domenic opened #213 "Doesn't parse `for (const x of y) { }`"
Works for let, but should also work for const.

[code]

[2015-03-02 21:43] RReverser commented on #213
In Firefox, also getting

Isn't this invalid usage?

[2015-03-02 21:44] domenic commented on #213
No, it's valid. It's simply that Firefox doesn't implement `const`.

[2015-03-02 21:47] RReverser commented on #213
Working with FF Dev Edition which does support it (probably a bug in both then).

[2015-03-02 21:48] RReverser commented on #213
@domenic Can you please show any example where this is valid? Since const are not re-assignable, I don't understand why they are valid iteration targets (except as for loops that will always do 0 or 1 cycle).

[2015-03-02 21:49] domenic commented on #213
for-of loops have a fresh per-iteration binding, so it's a fresh const per loop. Const vs. let means you can't re-assign the loop variable inside the loop body.

[2015-03-02 21:49] RReverser commented on #213
Ah, right. Thanks for clarification.

[2015-03-02 21:59] rwaldron commented on #213
Grammar refs:

- https://people.mozilla.org/~jorendorff/es6-draft.html#sec-iteration-statements
- https://people.mozilla.org/~jorendorff/es6-draft.html#sec-let-and-const-declarations

[2015-03-02 22:04] RReverser commented on #213
@rwaldron Thanks! I actually already looked through the spec before asking, but forgot about `const` also creating fresh binding.

[2015-03-02 22:21] rwaldron commented on #213
Sure, I figured everyone was up-to-date, but I wanted to make sure that anyone coming here later would have added details :)

[2015-03-04 04:08] getify opened #214 "ES6 Unicode Identifiers"
The new Unicode "code point escape" form is also valid for identifiers, such as:

[code]

As usual, @mathiasbynens has a [bunch of great stuff](https://mathiasbynens.be/demo/javascript-identifier-regex) about what makes a valid Unicode identifier in ES6 vs ES5, etc.

[2015-03-04 13:11] marijnh commented on #214
The hard part here appears to be that we don't yet know how to distinguish >0xFFFF code points as being identifier characters.

[2015-03-04 13:35] getify commented on #214
I believe the regex at the above link gives that answer definitively, right?

[2015-03-04 14:20] marijnh commented on #214
So that means there are no code points above 0xffff that can be part of an identifier? (This is entirely possible, I just don't know)

[2015-03-04 14:22] mathiasbynens commented on #214
New blog post that documents the differences between ES5 and ES6 identifiers, with examples: https://mathiasbynens.be/notes/javascript-identifiers-es6 It answers your question, @marijnh.

[2015-03-04 14:38] marijnh opened #215 "Support for ES6-style identifier characters"
Our current big fat regexps only recognize ES5-style identifier characters. See https://mathiasbynens.be/notes/javascript-identifiers-es6 . We need a separate set of, even bigger, regexps to properly parse ES6 identifiers. I am not really happy about just pasting those in and bloating up the library size. A clever alternative trick would be nice.

[2015-03-04 14:38] marijnh commented on #214
Right, so that puts us in a bit of a bind -- including _another_ giant regexp (even bigger than the old ones -- some 14k) in the library to handle obscure identifier names is not a very attractive idea. But not being able to properly identify ES6 identifiers is also a shame.

Attached patch solves the issue reported here. The ES6 identifier issue is now tracked in #215

[2015-03-04 14:38] #214 closed

[2015-03-04 15:32] mathiasbynens commented on #215
In terms of BMP characters in identifiers, the only difference between ES5 and ES6 is the one in the first example here: https://mathiasbynens.be/notes/javascript-identifiers-es6#acceptable-unicode-symbols

[code]

In other words, once you add the ES6 regex you don’t need the ES5 regex anymore. You could just special-case U+2E2F.

[2015-03-04 15:36] marijnh commented on #215
Okay, cool. I'll look into compressing down your ES6 regexp by extracting duplicated pieces.

[2015-03-04 15:39] mathiasbynens commented on #215
You could apply the same trick you’re using in Acorn at the moment, i.e. having separate `IdentifierStart` and `IdentifierPartOnly` parts and then dynamically concatenating the regex at runtime. This can easily be done by tweaking https://gist.github.com/mathiasbynens/6334847. However, keep in mind that by doing so, the resulting regex will be larger (in memory) than the current output. You’re tra

[2015-03-04 15:58] marijnh commented on #215
If I didn't make any mistake in constructing the regexps (see below), there appear to be more differences than just the one in the example you give. These identifiers from the tests are no longer considered valid once I drop in the new regexps:

[code]

Here's how I'm generating them:

[code]

[2015-03-04 16:00] mathiasbynens commented on #215
Both those examples are still valid in ES6. Here’s my validator that uses the regular expression I mentioned:

https://mothereff.in/js-variables#T%E2%80%BF
https://mothereff.in/js-variables#price%5f9%CC%B69%CC%B6%5f89

There must be something wrong with the way you use the regexps. Can I look at this code on a branch?

[2015-03-04 16:03] marijnh commented on #215
You're quite right, I still had the assumption that these were simple character ranges elsewhere in the code, though they now use the `|` operator. Fixing that, the new regexps work. Now to update the identifier reader to understand multibyte characters.

[2015-03-04 16:04] mathiasbynens commented on #215
Ah yes, wrapping each part in `(?:x)` is now needed. Sorry for not mentioning that explicitly.

[2015-03-05 14:55] marijnh commented on #215
Attached patch fixes this, using a non-regexp approach for testing the astral characters.

[2015-03-05 14:55] #215 closed

[2015-03-09 11:13] webbedspace opened #218 "Trailing commas in iterable destructuring"
`var [a,] = [1]` [is erroneously regarded as invalid](https://babeljs.io/repl/#?experimental=false&playground=false&evaluate=false&loose=false&spec=true&code=var%20[a%2C]%20%3D%20[1%2C2]%0A).

[Source](https://github.com/babel/babel/issues/975)

[2015-03-10 08:40] RReverser commented on #213
Btw, checking Traceur and it seems to support `for (const x in ...)` and `for (const x of ...)` but not `for (const x = start; x < end; x++)` saying that `x is read-only` - is it Traceur bug or am I misunderstanding the spec?

[2015-03-10 08:41] sebmck commented on #213
Note: `x++`. You can't reassign a constant.

[2015-03-10 08:42] RReverser commented on #213
Ah, right, this assignment is not block-scoped. Thanks for pointer!

[2015-03-10 14:10] rwaldron commented on #213
In related news, I discovered this bug in V8 while migrating tests over to test262: https://code.google.com/p/v8/issues/detail?id=3938

[2015-03-12 05:52] getify opened #219 "Invalid grammar applied to `yield` parsing"
The following (inside a well-formed generator of course) is parsed as valid by acorn:

[code]

For example:

[code]

However, as [this tweet](https://twitter.com/abargull/status/575625898608582657) from @anba explains, `YieldExpression` is handled incorrectly. `1 + yield` should be invalid. `1 + yield 2` should also be invalid, but `1 + (yield)` and `1 + (yield 2)` should be valid.

The `YieldExpr

[2015-03-12 21:39] marijnh commented on #218
Fixed in the `v1` branch.

[2015-03-12 21:39] #218 closed

[2015-03-12 21:39] marijnh commented on #218
Err, in patch 16a3420, in which I'm referencing the Babel issue number instead of this one.

[2015-03-12 21:53] marijnh commented on #219
That is terrible. I mean, having nullary `yield` require parentheses. That's just shoddy. But it does indeed appear to be the case. See also [the spec](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-assignment-operators).

[2015-03-12 22:10] marijnh commented on #219
Fixed in 57bc9b1 on the `v1` branch.

[2015-03-12 22:10] #219 closed

[2015-03-12 22:28] getify commented on #219
Thanks!

[2015-03-13 11:04] ikarienator opened #220 "Parsing `[x,,] = 0` throws reference error "Cannot read property 'type' of null.""

[2015-03-13 11:12] ikarienator opened #221 "`function* a({yield}){}` is allowed but `function* a([yield]){}` throws."
According to https://people.mozilla.org/~jorendorff/es6-draft.html#sec-destructuring-binding-patterns, yield is always not allowed as a parameter of a generator function.

[2015-03-13 11:16] ikarienator opened #222 "`var [a]` is not a valid program"
According to this, `VariableDeclarator`s with complex `BindingPattern`s always have initializers.

Same applies to `LexicalBinding`s. https://people.mozilla.org/~jorendorff/es6-draft.html#sec-let-and-const-declarations.

[2015-03-17 00:50] tolmasky opened #223 "exclude start/end (and possibly raw?)"
I know you can pass locations:false, but acorn.parse still seems to put a location item in start/end on the top level object. In very large ASTs, its quite expensive to iterate to remove them, or to remove them in stringify with a replacer:

    return JSON.stringify(anObject, function(key, value)
    {
        if (key === "start" || key === "end" || key === "raw")
            return undefined;

[2015-03-17 00:54] tolmasky commented on #223
Oops, just saw that at the very least start and end can be removed with ranges. Any chance a similar option for raw? I want parse("0") === parse("0.00")

[2015-03-17 01:04] tolmasky commented on #223
Sorry, seems I misread yet again, ranges:false doesn't turn it off, so I suppose the original question stands.

[2015-03-18 09:33] rauschma commented on #219
The following syntax is rejected by Acorn, but – AFAICT – shouldn’t be:

[code]

[2015-03-18 10:02] marijnh commented on #219
I agree that the intent is probably that this should be valid. But could you argue why that is from the grammar in the standard? How does the rule for `YieldExpression` translate to a parsing strategy here?

[code]

[2015-03-18 10:11] RReverser commented on #219
As far as I understand, it should be simple enough - `yield` inside generator functions is always treated as [start of] `YieldExpression`, so you either get it or parsing error; outside generator function `yield` is always treated as `Identifier`, so you either get it or parsing error.

[2015-03-18 10:13] sebmck commented on #219
@RReverser Acorn parses `yield` as a keyword so outside of a generator function it's a syntax error not an `Identifier`.

[2015-03-18 10:14] rauschma commented on #219
The following is how I interpret the grammer. I’m not sure I understand what you mean by “parsing strategy”.

A `YieldExpression` is an `AssignmentExpression` [1]:

[code]

And an `AssignmentExpression` is allowed in an `ArgumentList` [2].

[1] https://people.mozilla.org/~jorendorff/es6-draft.html#sec-assignment-operators
[2] https://people.mozilla.org/~jorendorff/es6-draft.html#sec-left-hand-side

[2015-03-18 10:14] marijnh commented on #219
@RReverser This is not about recognizing the fact that `yield` is a yieldexpression. It is about noticing that it is being used without argument.

[2015-03-18 10:15] marijnh commented on #219
@rauschma Note that the parse error points _after_ the `yield` identifier. Acorn chokes on the closing parenthesis because it currently assumes that, if yield is not followed by a semicolon or newline, it takes an argument.

[2015-03-18 10:15] RReverser commented on #219
@sebmck Of course it it - see https://github.com/marijnh/acorn/blob/master/test/tests-harmony.js#L13907 for relevant test.

[2015-03-18 10:16] rauschma commented on #219
@marijnh Ah, interesting!

[2015-03-18 10:17] sebmck commented on #219
@RReverser Ah I see. I was trying `var yield = true;` so that's likely a bug then?

[2015-03-18 10:20] RReverser commented on #219
@sebmck Not sure about that - @mathiasbynens' variable name validator was always precise, and checking at https://mothereff.in/js-variables shows that `yield is an invalid identifier according to ECMAScript 6 / Unicode 7.0.0`.

[2015-03-18 10:22] sebmck commented on #219
@RReverser Traceur currently has a test for it and parses it as an identifier but I figured it was a discrepancy.

[2015-03-18 10:23] mathiasbynens commented on #219
`yield` acts as a keyword in strict mode only (as per ES5). https://mathiasbynens.be/notes/reserved-keywords

[2015-03-18 10:23] rauschma commented on #219
@sebmck @RReverser See NOTE here: https://people.mozilla.org/~jorendorff/es6-draft.html#sec-keywords
Quote: “In some contexts `yield` is given the semantics of an _Identifier_.”

[2015-03-18 10:25] RReverser commented on #219
@rauschma Yeah, I like the "in some contexts" part.

[2015-03-18 10:29] RReverser commented on #219
I'm starting to think that decision not to introduce new keywords to ECMAScript but invent such "contextual keywords" makes even more harm and unnecessary confusion.

[2015-03-18 10:30] mathiasbynens commented on #219
@RReverser It’s necessary for web compatibility, sadly.

[2015-03-18 10:34] RReverser commented on #219
@mathiasbynens Covering 1% of potentially dangerous cases and making 99% others more complicated at the same time is really sad. But yeah, "don't break the web" and so.

[2015-03-18 10:46] marijnh commented on #219
Contextual keywords are irrelevant to the issue at hand, so please let's keep the exchange focused.

Does anyone have a deep enough understanding of the parsing of context-free grammars to explain to me how the rules given in the standard imply that parsing of a YieldExpression stops at a closing parenthesis?

[2015-03-18 11:23] anba commented on #219
For my parser I'm simply checking if the next token after `yield` is in the FirstSet of AssignmentExpression:
https://github.com/anba/es6draft/blob/master/src/main/java/com/github/anba/es6draft/parser/Parser.java#L3479

[2015-03-18 11:23] rauschma commented on #219
I’m not sure that the grammar in the spec (which is quite declarative) helps with a parsing strategy here.

What I’d do for an LR(1) parser: compute the set of terminal symbols that an AssignmentExpression can start with. If the token following `yield` is not in that set (and not the asterisk) then `yield` does not have an operand.

Alas, I have not idea if that will work, my parsing-related knowl

[2015-03-18 11:24] anba commented on #219
@rauschma :+1:

[2015-03-18 13:34] getify commented on #219
hey @allenwb can you shed any light on @marijnh's grammar question here?

FWIW I'm also very curious. I've been stumbling over understanding this for quite awhile. Was starting to feel like magic.

[2015-03-19 11:35] marijnh commented on #219
@rauschma I think patch a75a685 should fix the argument-less `yield` issue.

[2015-03-19 11:38] marijnh commented on #223
This is not supported by Acorn. The positions are used internally to show errors, and should be considered part of the base output.

[2015-03-19 11:38] #223 closed

[2015-03-19 13:06] marijnh commented on #221
Attached patch solves the inconsistency between short-hand properties in object patterns and other binders.

[2015-03-19 13:06] #221 closed

[2015-03-19 13:41] rauschma commented on #219
Cool. Thanks!

[2015-03-19 14:01] #222 closed

[2015-03-19 14:01] #220 closed

[2015-03-19 14:01] marijnh commented on #213
Can this be closed now?

[2015-03-19 14:05] RReverser commented on #213
Generally yes. It's fixed in `v1` branch and contains `Fixes #213` in commit message, so this issue will be auto-closed as soon as commit is merged into `master`, but you can close it now if you wish.

[2015-03-19 14:06] #213 closed

[2015-03-20 17:58] ikarienator opened #225 "`export default function () {} false` should be a valid module"
According to https://people.mozilla.org/~jorendorff/es6-draft.html#sec-exports, `export default` followed by _`HoistableDeclaration`_ does not need to end with a semicolon.

[2015-03-20 21:41] marijnh commented on #225
Attached patch should fix this.

[2015-03-20 21:41] #225 closed

[2015-03-20 21:42] marijnh commented on #168
The [`v1` branch](https://github.com/marijnh/acorn/tree/v1) now has a plugin architecture. It's somewhat rough, but with some effort you should be able to write powerful extensions in it. There is a demo JSX parser based on this in the [`jsx` branch](https://github.com/marijnh/acorn/tree/jsx)

[2015-03-21 00:04] ikarienator commented on #225
When will these fixes be in master?

[2015-03-21 04:09] sebmck commented on #225
@ikarienator Once #216 is merged.

[2015-03-22 21:13] marijnh commented on #225
Follow-up patch 35cda0c fixes an issue with the original patch. Note that in your example (`export default function () {} false`) the function is an expression, and thus _not_ a HoistableDeclaration, and thus that one is invalid. The function needs to have a name to be a `FunctionDeclaration` (and thus hoistable).

We will merge the `v1` branch into master and bring out 1.0 in a few days.

[2015-03-22 21:17] RReverser commented on #225
@marijnh Actually spec considers stuff like `function () {}` as `HoistableDeclaration` even when it's anonymous, so example is rather valid.

[2015-03-22 21:19] RReverser commented on #225
See `export default [lookahead ∉ {function, class}] AssignmentExpression[In] ;` (and yes, I know it's crazy)

[2015-03-22 21:33] marijnh commented on #225
Oh wow. ES6 may be improving a lot of things, but it is making the strangeness of the grammar quite a lot worse. Oh well, see patch b3f49cb

[2015-03-25 11:24] marijnh commented on #209
I've just released 1.0.0.

[2015-03-25 11:24] #209 closed

[2015-03-25 13:54] hgl opened #226 "Duplicate object property and getter/setter should generate an error"
[code]
This should generate an error.

[2015-03-25 13:56] RReverser commented on #226
No it shouldn't. This is allowed in ES6.

[2015-03-25 13:57] sebmck commented on #226
@RReverser I recall the semantics changing for duplicate properties. Was this also changed for `{ a: 1, a: 2 }`?

[2015-03-25 13:58] #226 closed

[2015-03-25 13:59] RReverser commented on #226
Yup. The latest one takes effect.

[2015-03-25 13:59] sebmck commented on #226
@RReverser Acorn still throws an error for that case then.

[2015-03-25 14:00] RReverser commented on #226
In ECMAScript 5 strict mode code, duplicate property names were considered a SyntaxError.  With the introduction of computed property names making duplication possible at runtime, ECMAScript 6 has removed this restriction. (c) https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer

P.S. I'd reference official spec here but it's way too big to open from mobil

[2015-03-25 14:01] RReverser commented on #226
That's weird, I remember fixing it for `{ecmaVersion: 6}`. Care to open separate issue / send PR?

[2015-03-25 14:05] rwaldron commented on #226
For reference, the duplicate property checks were dropped in rev 26, here's an overview:  https://github.com/rwaldron/tc39-notes/blob/46d2396e02fd73121b5985d5a0fafbcdbf9c9072/es6/2014-07/jul-29.md#41-review-latest-draft

Here you go: https://people.mozilla.org/~jorendorff/es6-draft.html#sec-additions-and-changes-that-introduce-incompatibilities-with-prior-editions

[2015-03-25 14:07] sebmck commented on #226
@RReverser

Yup you were right, apologies.

[2015-03-25 14:11] RReverser commented on #226
Good, thanks @rwaldron for reference and @sebmck for checking it.

[2015-03-25 14:13] hgl commented on #226
Thanks you guys. Learned a lot from the thread.

Should check the spec carefully next time. (traceur throws error for this case, so I thought it was the norm)

[2015-03-25 15:02] rwaldron commented on #226
@RReverser no problem :)

[2015-03-26 07:44] megawac opened #227 "Several valid ES features fail to parse"
Hey, great job on V1, fixed a lot of my qualms!

Just tested master on [everything.js](https://github.com/michaelficarra/everything.js), here are a couple things that failed to parse, most of em pretty nitty

https://github.com/michaelficarra/everything.js/blob/master/es2015-script.js
[code]

[2015-03-26 07:53] marijnh commented on #227
The `var yield` part seems to be the only thing that Acorn isn't accepting in that piece of code. Were you seeing more failures, seeing how you mention 'a couple things'?

@RReverser We are currently explicitly disallowing binding to `yield` everywhere. It that based on your understanding of the spec, or an accident?

[2015-03-26 09:48] RReverser commented on #227
Initially it was my understanding, but, as figured out from neighbor thread, it was wrong.

[2015-03-26 09:56] marijnh commented on #227
So is the actual situation that you can only not bind to `yield` in a generator? And does that mean `yield` can not be simply treated as a strict-mode reserved word?

[2015-03-26 12:09] RReverser commented on #227
As far as I understand - yes. `yield` is not a reserved word, but rather contextual keyword (just like `let`).

[2015-03-26 12:16] RReverser commented on #227
So yes, as you said in https://github.com/marijnh/acorn/issues/225#issuecomment-84709017:

[2015-03-27 16:07] RReverser opened #228 "Disallow duplicate constructor definition"
All of following should throw an error:
* `get constructor`
* `set constructor`
* `*constructor`
* 2nd `constructor` in same class

[2015-03-28 23:44] ForbesLindesay opened #230 "Walking imports and exports can result in an error"
Walking:

[code]

Results in an error of `TypeError: undefined is not a function`.  After making the change in #229 it results in an error that looks like `AssertionError: ImportDefaultSpecifier did not have a handler`.

I also get an error when walking:

[code]

of `AssertionError: ExportNamedDeclaration did not have a handler`

[2015-03-28 23:48] ForbesLindesay commented on #230
Also: `ImportNamespaceSpecifier` when I run walk on:

[code]

[2015-03-29 06:10] TimothyGu opened #232 "Browserify a project using acorn doesn't work"
[code]

[code]

This directly causes ForbesLindesay/acorn-globals#5 and Jade Travis CI errors: https://travis-ci.org/jadejs/jade/jobs/56260858#L114-L141

[2015-03-29 06:19] TimothyGu commented on #232
Now I think of it this might be a bug in Browserify. See substack/node-browserify#1151. The suggestion to use `--standalone` or [derequire](https://github.com/calvinmetcalf/derequire) in substack/node-browserify#374 might be useful to this project though although I'm not sure how that would work.

[2015-03-29 06:22] sebmck commented on #232
@TimothyGu

[It already does.](https://github.com/marijnh/acorn/blob/master/bin/build-acorn.js#L9)

[2015-03-29 06:24] sebmck commented on #232
It'd be because `dist/acorn.js` still has calls to `require` and browserify is interpreting those as being the root level `require` since it has no scope tracking so can't tell it's being overridden.

[2015-03-29 06:27] TimothyGu commented on #232
@sebmck That's what I thought. Is there an easy way to fix this? Would derequire work?

[2015-03-29 06:29] sebmck commented on #232
@TimothyGu Yeah that'd work. Although there's likely already a browserify option built-in.

[2015-03-29 07:11] #230 closed

[2015-03-30 13:43] buob opened #233 "Dist File?"
I'm trying to install with bower, and the readme references `dist/acorn.js` which doesn't appear to be there in source.  Is there a build step missing or something?

[2015-03-30 13:45] sebmck commented on #233
This is only available from an npm release.

[2015-03-30 13:46] marijnh commented on #233
The build step is `node bin/build-acorn.js`

[2015-03-30 13:46] #233 closed

[2015-03-30 14:28] samccone commented on #233
What you __could__ do @buob is setup a postinstall hook in bower to emulate installing from a built source https://github.com/bower/bower/blob/master/HOOKS.md#configuring

So on bower install success it would build the acord dist for you.

¯\_(ツ)_/¯

[2015-03-30 18:43] jbraithwaite opened #234 "ReferenceError: TokContext is not defined"
I'm not sure what changed in my code base or in my environment that is causing this issue. I'm still investigating, just wanted to see if anyone else has/had this issue.

[code]

This occurs in `node v0.12` and `iojs v1.2` and `iojs v1.6`

[2015-03-30 20:48] marijnh commented on #234
Is your Acorn version 1.0.1? I can see the reference to `TokContext` at line 2200, but I don't see a way that could trigger such an error (the variable is definitely defined in this context).

[2015-03-30 21:44] jackspaniel opened #235 "package is a reserved word"
Did something recently change to make this crash? We use jade, which uses with, which uses acorn. Without updating anything, our code started breaking in our test environments, where we do a fresh install every time. Or local dev environments were fine. Finally I tried deleting jade and doing a fresh install and then I was able to see the error on my local. The world of subdependencies can be very

[2015-03-30 22:10] jbraithwaite commented on #234
It is `1.0.1` and I'm scratching my head as to why the error is being triggered.

[2015-03-31 02:56] ben-ng opened #236 "acorn 1.0.1 doesn't seem to throw on parse errors anymore. 0.12 did."
With 0.12 if i parsed garbage, acorn would throw. With 1.0.1, nothing happens. Is this a bug, or expected behavior? I thought that the tolerant parser was opt-in.

[2015-03-31 03:04] ben-ng commented on #236
never mind, i think i make a typo in my require was using some older version of acorn. when testing acorn 1.0.1 alone, it looks like errors are being thrown on syntax errors.

[2015-03-31 03:04] #236 closed

[2015-03-31 03:34] jbraithwaite commented on #234
I'm confident that the issue lies in my environment and not the code, I'll close the issue and will post a follow up.

[2015-03-31 03:34] #234 closed

[2015-03-31 09:45] jbraithwaite commented on #234
Found the issue, I was using

[code]

instead of

[code]

… which introduced a subtle bug.

[2015-03-31 10:18] marijnh commented on #235
In both ES3 and in ES5+ strict mode, `package` is indeed a reserved word. How are you invoking `acorn.parse` and which language version are you trying to parse? And what value are you passing the `allowReserved` option?

[2015-03-31 17:54] jackspaniel commented on #235
Yeah the obvious fix is to change package to pkg, which we did.

We are using jade, which is using with (https://github.com/ForbesLindesay/with), which is using acorn. My guess is one of the sub-dependencies got updated on a fresh install, even though we didn't change the primary dependency versions. Either Jade got a newer version of with, or with got a newer version of acorn.

[2015-03-31 17:58] jackspaniel commented on #235
Yeah the obvious fix is to change package to pkg, which we did.

We are using jade, which is using with (https://github.com/ForbesLindesay/with), which is using acorn. I see from the link above that this is from with using the latest version of acorn.

[2015-03-31 20:17] RReverser commented on #235
@jackspaniel It was because of this commit - https://github.com/ForbesLindesay/with/commit/0ef234b62e9a6a674e129122efd896a0824e0a44 - where @ForbesLindesay sets `sourceType: module` so that code is treated as ES6 Module Code which is always strict.

Closing this as not issue of Acorn.

[2015-03-31 20:17] #235 closed

[2015-04-04 14:29] sevin7676 opened #238 "Invalid regular expression error"
I'm using Acorn 1.0.1  from NPM on Windows 8.1 with Chrome 41.

File is Acorn.js

![image](https://cloud.githubusercontent.com/assets/5360920/6993031/b06e0746-dab4-11e4-8007-4813835cbf4a.png)

[2015-04-04 14:37] sevin7676 opened #239 "Acorn no longer works in web worker"
After working around https://github.com/marijnh/acorn/issues/238 issue by replacing relevant lines with lines from older version of acorn, the next problem I run into while trying to use the new version is this:

file: acorn_loose.js

![image](https://cloud.githubusercontent.com/assets/5360920/6993060/f78fc398-dab5-11e4-8baa-1d306b6d38e7.png)

However, it only occurs when using in a web worker. I

[2015-04-04 16:00] sebmck commented on #238
You need to add a charset UTF8 attribute on the <script>

On Sunday, 5 April 2015, Morgan Yarbrough <notifications@github.com> wrote:

--
Sebastian McKenzie

[2015-04-04 17:49] sevin7676 commented on #238
I tried adding that to both the script tag and I added `<meta charset="UTF-8">` to the HTML file and made sure all of the source files are encoded in UTF-8 and I still get the same error

[2015-04-04 19:52] sevin7676 commented on #239
I just ran a quick test to make sure my code is not the issue.
I cloned Tern, set `useWorker=true;` in demo.js and fired it up:

![image](https://cloud.githubusercontent.com/assets/5360920/6994301/6dacbf64-dae2-11e4-91bc-046f4a668f13.png)

[2015-04-05 12:20] sevin7676 commented on #238
I did further testing and found that the issue is not related to Acorn. There is something wrong with how Chrome Apps handle encoding when using a sandboxed iframe.

[2015-04-05 12:40] sevin7676 commented on #239
I did further testing and I'm even more confused than when I started....

I beautified acorn.js and it fixes the Cannot find module error (not sure why, but I tested undoing and redoing this multiple times, each time with the same result). Only the loader shim needs to be beautified, which results in:

[code]

Now the strange part... after beautifying the file and using in a web worker I get the h

[2015-04-05 12:59] sevin7676 commented on #238
More testing.... This is not a Chrome App issue. I found that If I use tern's repository and run it locally it works. However, the second I modify acorn.js and save it, it fails to work. Which means there is an issue with file encoding. Now here's the problem:

I have tried saving acorn.js in every possible UTF-8 encoding format using both NotePad++ and Visual Studio, yet regardless I still have a

[2015-04-05 13:29] sevin7676 commented on #238
Even more testing....

It turns out that if I start with a fresh acorn file from NPM and I edit it with NotePad++ or Visual Studio then I don't run into problems. However, the second I edit the file and save it with [my Chrome App] (https://chrome.google.com/webstore/detail/caret-t/agiednhnlghobdgpgfdnbdaflnngmoij) the file gets messed up, even if I then proceed to edit and resave with another edi

[2015-04-05 21:09] RReverser commented on #238
Did you check presence of BOM in the beginning of file before/after saving?

[2015-04-06 10:46] sevin7676 commented on #238
I submitted a Chrome issue: https://code.google.com/p/chromium/issues/detail?id=474183

[2015-04-06 19:51] ForbesLindesay opened #240 "Reserved words in ES6"
The following code should be valid in ES6 (but not if sourceType = 'module')

[code]

At the moment it raises a syntax error.

[2015-04-06 19:51] sebmck commented on #240
See #227.

[2015-04-06 19:54] RReverser commented on #240
Yup, duplicate of #227.

[2015-04-06 19:54] #240 closed

[2015-04-06 21:01] ForbesLindesay commented on #232
This can be fixed by #237, although it should hopefully be rendered un-necessary by a future version of browserify.

[2015-04-06 21:05] ForbesLindesay opened #241 "Auto-detect module"
It would be great to have a way to auto-detect whether a script is "module" code or not.  Many utilities (such as [acorn-globals](https://github.com/ForbesLindesay/acorn-globals)) are intended to work for both modules and non-modules, which leads to code like: [acorn-globals/index.js#L26-L52](https://github.com/ForbesLindesay/acorn-globals/blob/698e5824d308b1d33b41efcf5614639737be864b/index.js#L26

[2015-04-06 21:13] RReverser commented on #241
The problem is that from spec perspective those are really different code types, and have different semantics. Even if code doesn't import/export anything, it still behaves differently depending on whether it's loaded as module or included i.e. through `script` tag.

[2015-04-06 21:22] RReverser commented on #241
If you really don't care about incorrect parsing, the possible workarounds include:
* setting `allowImportExportEverywhere: true` + `sourceType: script` - in that case code will behave like earlier (like code that is not strict by default), but will additionally parse `import` and `export` declarations;
* setting `sourceType: module` for everything.

In both cases you might either miss some parser

[2015-04-06 21:23] RReverser commented on #241
Closing this issue as merging those code types would violate spec.

[2015-04-06 21:23] #241 closed

[2015-04-07 08:11] marijnh commented on #232
Solved via #243

[2015-04-07 08:11] #232 closed

[2015-04-07 08:21] #239 closed

[2015-04-07 08:22] marijnh commented on #239
It was detecting a browser env (in order for the loose parser to find the main parser module) by looking for `window`, which workers don't have. I've changed it to simply look for a global called `acorn`.

[2015-04-08 19:55] rauschma opened #244 "`typeof` vs. arrow function"
IINM, the following syntax is illegal:

[code]

An arrow function has a low precedence (important for expression bodies). It must therefore be parenthesized if it is the operand of `typeof`:

[code]

[2015-04-10 12:00] #244 closed

[2015-04-10 12:00] marijnh commented on #244
You are entirely right. Attached patch should help.

[2015-04-10 12:39] rauschma commented on #244
Cool!

[2015-04-10 14:06] jrsearles commented on #233
There should not be a build step with libraries served up with Bower. If you're not willing to include the distributed files would you be amiable to a separate repo for serving the distributed content through Bower?

[2015-04-10 14:11] marijnh commented on #233
I am not willing to put in extra energy for the sake of Bower, which I consider a somewhat superfluous tool. If someone else feels so inclined, they can to set up an automated system that listens for new npm versions and updates some github repo somewhere with the built Acorn files.

[2015-04-10 14:22] samccone commented on #233
rough http://bower.io/stats/

[2015-04-10 20:56] domenic commented on #213
Is this in any published npm release?

[2015-04-10 20:57] sebmck commented on #213
@domenic Yes, it's available in v1.x that was released 2 weeks ago.

[2015-04-13 01:14] gygl09 opened #245 "failed to run 1.0.3"
because there is no acorn.js in dist

did I miss something?

[2015-04-13 09:18] marijnh commented on #245
How did you install it?

[2015-04-13 09:35] angelozerr commented on #245
Perhaps @gygl09 is on Windows OS. I had the same problem with 1.0.4 when I use `npm install acorn` (from sources of github). At the end of the install I have the following errors :

[code]

So in my case, I have executed at hand  in the DOS command the content of the prepublish.sh to generate acorn files in the dist folder.

[2015-04-13 09:41] marijnh commented on #245
Why on earth is npm running `prepublish` during install? That's only supposed to happen when you do `npm publish`, which only I should be doing.

[2015-04-13 09:44] angelozerr commented on #245
Sorry @marijnh this errors comes from when I :

 * get acorn sources from github
 * execute `npm install` in the folder which contains acorn getted from github.

[2015-04-13 10:02] marijnh commented on #245
Ah, that's interesting. I guess you should use `npm` to get Acorn, if you're not on a Unix machine and willing to install the dev dependencies.

That may not be @gygl09's problem, though.

[2015-04-13 12:58] gygl09 commented on #245
Sorry, guys. This is my first time to run acorn. I didn't run any command to install acorn.js. @angelozerr is right. My environment is Windows 7.

I am attempting to find a independent tool, which doesn't use other third-party libs. Fortunately, it seems I succeed. It's acorn 0.12.0! I successfully to run it (i.e. index.html and bench.html) in my chrome browser without installing anything.

I thin

[2015-04-13 13:02] marijnh commented on #245
If you install Acorn from npm, your problem should go away (and there still won't be any dependencies)

[2015-04-13 13:02] #245 closed

[2015-04-13 13:05] gygl09 commented on #245
Hi @marijnh,

I would like to run it in Android, so I think npm doesn't work in my case.

Thanks a lot,
Yang

[2015-04-13 13:08] marijnh commented on #245
I fail to see how the two are related. Just npm install in your dev environment, and copy over the resulting files to whatever target package you are building.

[2015-04-13 13:12] gygl09 commented on #245
ohhh! You are right. I should ask you the question directly. I would save much time. I am stupid.

BTW, you are the most active developer I have ever seen.

Thank you,
Yang

[2015-04-13 21:51] aslushnikov opened #247 "acorn.tokenizer() does not report comments"
AFAIU a tokenizer, created via `acorn.tokenizer()`, does not report comments via its `getToken()` method.

Is there an option I'm missing? Is this intended?

[2015-04-13 21:52] RReverser commented on #247
Comments are not tokens - they don't have any meaningful sense for program execution. You should use `onComment` option instead.

[2015-04-14 07:36] marijnh commented on #247
This is what tokenizers traditionally do -- they read significant program tokens. As @RReverser mentions, you can use an `onComment` callback to be notified when a comment is skipped (it should even be possible to wrap the tokenizer in a shim so that it outputs comments in the same stream as the tokens)

[2015-04-14 07:36] #247 closed

[2015-04-14 15:10] benjamn opened #249 "Can't yield a function expression without parentheses"
As demonstrated [here](https://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=function%20*g()%20%7B%0A%20%20yield%20function()%20%7B%7D%3B%0A%7D%0Ag().next().value()%3B), yielding a function expression triggers an `Unexpected token` error at the `function` keyword:
[code]
Note that enclosing the function expression in parentheses avoids the problem, but the non-paren

[2015-04-14 15:16] marijnh commented on #249
That was an oversight on my part. Attached patch should fix it.

[2015-04-15 12:49] angelozerr commented on #168
@RReverser have you a plan to support TypeScript/AtScript like you have done for JSX?

I would like to support Angular2 with tern. It should be fantastic if you could work on this topic. Thanks!

[2015-04-15 13:08] #168 closed

[2015-04-15 14:52] RReverser commented on #168
@angelozerr
@sebmck has support for Flow syntax (which is pretty much the same) in his fork of Acorn inside of Babel. [I'd like](https://github.com/facebook/esprima/issues/111#issuecomment-92520365) it to be backported, but he is not interested in that AFAIK.

[2015-04-15 16:03] sebmck commented on #168
@RReverser We've talked about this before and I've had to add ~10 new injection points just to get the flow plugin to work and it was considered too excessive to have that in Acorn itself.

[2015-04-15 16:17] RReverser commented on #168
That's why I mentioned you :)

[2015-04-15 18:48] nzakas commented on #168
@RReverser are you going to make acorn-jsx into an acorn plugin? :)

[2015-04-15 18:49] sebmck commented on #168
@RReverser

You made it seem like I wasn't interested though when you know the reasons why :stuck_out_tongue_winking_eye:

@nzakas https://github.com/marijnh/acorn/blob/jsx/plugin/jsx.js

[2015-04-15 18:50] nzakas commented on #168
oooh, nice!

[2015-04-15 19:06] RReverser commented on #168
@nzakas I've just pushed it as a plugin in [the repo](https://github.com/RReverser/acorn-jsx), but not enough time to rewrite test runner for the plugin :(
Leaving to Georgia (country, not state) in few hours and will be unavailable for more than a week, but if someone sends PR, I'll happily accept it upon the return.

[2015-04-15 19:55] marijnh commented on #168
@sebmck Did you check out the plugin architecture in 1.0? It allows you to extend any method you want, and I expect it should provide all the entry points you need to parse flow-style code.

[2015-04-15 20:25] sebmck commented on #168
@marijnh I did and that's what the flow plugin is based on, you can see it [here](https://github.com/babel/babel/blob/master/src/acorn/plugins/flow.js). I've had to split up/add the following methods in order to get all the correct hooks though:

 - parseParenItem
 - parseClassId
 - parseParenArrowList
 - parseClassSuper
 - parseObjPropValue
 - parseAssignableListItemTypes
 - parseVarHead
 - ...

[2015-04-16 10:19] marijnh commented on #168
10 injection points to parse Flow sounds reasonable, in fact. Having less forks and more compatible plugins would be great. Could you submit a pull request that adds these methods?

[2015-04-17 03:52] sebmck commented on #168
@marijnh For sure. Wasn't sure whether or not requesting very specific additional methods would be excessive. I'll create a PR with reasonings for each additional method.

[2015-04-17 04:01] sebmck commented on #168
@marijnh I've found that splitting these up into separate methods requires adding a lot of additional method parameters to reference local variables in the previous method. What do you think about just adding in some noop methods that are called in between that can then be overridden by a plugin? Alternatively it could possibly be done with an extremely basic event emitter.

[2015-04-17 11:18] marijnh commented on #168
I'd be open to noop methods, in principle. Unless there is a compelling case to be made for an event system, I think I'd rather not overcomplicate things.

[2015-04-17 16:16] sebmck commented on #168
Well, not really an event system. More just a way to specify more hooks without having a ton of noop methods.

[code]

[code]

[2015-04-17 18:21] int0h opened #250 "Plugin tutorial / example"
Could someone from acorn developers give an example of plugin for acorn parser. Because I still cannot understand how to create it. It would be great addition to "main manual -> plugins". Just a link to working project of plugin using. I've visited a link mentioned there "There is a proof-of-concept JSX plugin in the jsx branch branch of the Github repository." but I didn't found the whole process

[2015-04-18 19:04] nzakas opened #251 "Option to omit start/end properties"
I'm looking at some compatibility issues between Acorn and Esprima. One difference that is throwing off my tests is that Acorn is adding `start` and `end` properties to nodes in addition to `range` and `loc`. Would it be possible to add an option to omit those properties?

[2015-04-18 19:40] nzakas opened #252 "Location differences with Esprima"
More compatibility stuff. :) I'm noticing that there are some slight location differences between Esprima and Acorn.

Consider the following:

[code]

In case it's not obvious, I have an intentional empty line at the end of that code (automatically inserted by my editor at the end of files).

In this case, Esprima says that the program range is `[0, 133]` while Acorn says the range is `[0, 134]`.

[2015-04-19 10:31] sebmck commented on #251
Duplicate of #223.

[2015-04-20 10:41] marijnh commented on #251
Yes, I am not very interested in making these optional. For testing purposes, it should be quite easy to ignore or delete them.

[2015-04-20 10:41] #251 closed

[2015-04-20 10:45] marijnh commented on #252
Acorn assigns a range that spans the whole input to the `Program` node. This is intentional. Esprima seems to ignore all whitespace and comments after the last token and before the first. That's also a decision that can be defended. I don't believe the standard prescribes any behavior. Until it does, Acorn is sticking to its current behavior.

[2015-04-20 10:45] #252 closed

[2015-04-25 17:03] evidens opened #253 "Parse error when de-structuring into a remainder (spread) variable"
When using `acorn-jsx` to parse the material-ui project, I get errors with the [following structure](https://github.com/callemall/material-ui/blob/674e6bcd284ddd8d1e89a6d54b0f68737ae547f0/src/js/app-bar.jsx#L41):

[code]

Since it's ES6 I thought the ticket belonged here. For now, I'm analysing the compiled version instead.

[2015-04-25 17:05] sebmck commented on #253
This is not standard syntax. This is a [stage 1 ECMAScript proposal](https://github.com/sebmarkbage/ecmascript-rest-spread).

[2015-04-25 17:07] evidens commented on #253
Oh, good to know!

[2015-04-25 17:07] #253 closed

[2015-04-27 00:02] natew commented on #250
:+1: my question is: can I write a plugin and inject it, or would I have to fork acorn? If I'm using Babel now could I add plugins into acorn and not have to fork anything? Going to read more into it, but would be good to have in docs.

[2015-04-29 12:06] marijnh commented on #168
@sebmck I think noop methods work fine here -- a ton of events is just as expensive as a ton of noop methods, and introduces yet another concept.

[2015-04-29 13:27] marijnh commented on #250
Plugins can be injected -- the whole point is to no longer require forking Acorn for syntactic extensions. The README contains a section about plugins describing this. I'm not interested in writing a step-by-step tutorial, since, as that README also mentions, writing plugins requires an understanding of Acorn's internals, and people who can't be bothered to read the code won't be able to write plu

[2015-04-29 13:27] #250 closed

[2015-04-29 13:39] natew commented on #250
My response was malinformed, but yours was unconstructive. Actually I couldn't today add an Acorn plugin to Babel because it seems it's forked into Babel source, but that's not your concern.

It seems by your own admittance the plugin syntax is "not clean" and they are "likely to break", I get that you may not have time to improve that API, which is fine, but responding by saying "people who can't

[2015-04-30 22:53] msmhrt opened #255 "`(x=1)` is being treated as an AssignmentPattern."
Hi all,

Please see https://github.com/babel/babel/issues/1397 or following log.

[code]

`(x=1)` is being treated as an AssignmentPattern and It's invalid in ES2015.

[2015-05-18 03:35] binarykitchen opened #259 "SyntaxError: 'return' outside of function"
Got this error during a gulp build. Didn't happen before on older versions. Weird:

[code]

[2015-05-18 06:35] RReverser commented on #259
Error is clear - you have `return` outside of function in your code, which is not allowed in JavaScript (unless you set option `allowReturnOutsideFunction` to `true`). Problem is somewhere in your code, but since you didn't show it, it's impossible to give more detailed answer on this.

[2015-05-18 06:36] #249 closed

[2015-05-18 06:52] RichardLitt opened #260 "Unexpected token"
I am trying to run [dependency-check](https://github.com/maxogden/dependency-check) and coming up with this issue. Any thoughts?

[code]

[2015-05-18 07:03] binarykitchen commented on #259
Hmmm, I see. How do I fix this? There are over 50k lines of browserified code, how do I find the bad line with the unnecessary `return` @RReverser ?

[2015-05-18 07:04] binarykitchen commented on #259
And can't you add more context to the above error, so that it'll be easier for me to locate?

[2015-05-18 07:17] RReverser commented on #259
It gives you exact line and column `(15:2)` where syntax error occurs. Other than that, obviously I can't help you debug your code, especially browserified one, especially without seeing one :) Seems to be out of scope as non-Acorn-issue.

[2015-05-18 07:17] #259 closed

[2015-05-18 07:19] RReverser commented on #260
Issues are generally for reporting Acorn issues and not for asking for help with specific code - there is StackOverflow and other resources for that.

Are you sure this is a bug in Acorn and not really some bad token at given position (26:3)?

[2015-05-18 07:22] RichardLitt commented on #260
No worries about the tone; I just wasn't sure if where to file this bug. I'm not sure what file to check the (26:3) at. I can open an SO ticket for this, if you prefer, and just close this - it's probably not an acorn bug, this just seemed to me to be the best place to ask for help.

[2015-05-18 07:28] RReverser commented on #260
It looks like `dependency-check` is just running against a folder but not reporting filename where error occurs - so better to raise issue on their repo so that they could add better reporting.

[2015-05-18 07:28] #260 closed

[2015-05-18 07:31] RichardLitt commented on #260
Thanks!

[2015-05-18 07:45] binarykitchen commented on #259
Right, but `(15:2)` does not indicate the file name.

[2015-05-18 17:40] anba opened #261 "Incorrect import for "lineBreak" in src/state.js"
In [src/state.js](https://github.com/marijnh/acorn/blob/d1701d84e3d9bca2b8e8f2c2ea4bb4f04c93d91b/src/state.js#L2):
[code]

But `lineBreak` is not exported from "src/tokentype.js".

I can create a PR later this week, unless someone beats me to it.

[2015-05-18 17:58] RReverser commented on #259
As explained in #260, Acorn can't tell the file name either. If you want tool you are using to report it, please submit issue to corresponding repo.

[2015-05-18 17:59] RReverser commented on #259
Also, you might want just to use separate linter for your project (for example, ESLint) so that you would get more information on potential errors in your code.

[2015-05-18 21:24] binarykitchen commented on #259
yep, i am aware of linters and suspect that the above issue might have been caused by another npm package. all my packages pass the linter ... alright, leave it to me

[2015-05-19 15:22] #228 closed

[2015-05-19 15:25] #261 closed

[2015-05-19 15:25] RReverser commented on #261
Good catch, thanks!

[2015-05-22 04:32] domenic opened #263 "Regression between Acorn 1.0.3 and 1.1.0 in jsdom usage"
https://github.com/tmpvar/jsdom/issues/1131 Hard to pin this down to an isolated test case, and running the jsdom tests that trigger it requires a bit of setup (install Java for selenium, basically). Our usage of acorn is contained in https://github.com/tmpvar/jsdom/blob/master/lib/jsdom/vm-shim.js, and it might be easier to try to spot what broke by code inspection.

Nothing obvious to me from lo

[2015-05-22 04:36] domenic commented on #263
Seems to be that acorn broke the acorn-globals package, so that's the code to inspect. https://github.com/ForbesLindesay/acorn-globals

[2015-05-22 09:24] sebmck commented on #263
Could be marijnh/acorn@4d58b34c37081073af878fa89618710dc4552d1a. Looks like the `type` of `AssignmentExpression` and `AssignmentPattern` in `node.left` was changed from `Expression` to `Pattern`.

[2015-05-22 09:34] sebmck commented on #263
Confirmed that it's something to do with assignments.

[code]

[2015-05-22 09:37] marijnh commented on #263
Sorry! I had somehow convinced myself that the changes I made to make the walker properly walk ES6 patterns were backwards compatible, at least for ES5-related use. But they weren't, precisely in this case -- the left-hand-side of an assignment used to be walked as an Expression, but is now walked as a Pattern. This is usually a good thing, but it is probably what broke your code.

[2015-05-22 10:06] sebmck commented on #263
It doesn't look like it's used in [acorn-global](https://github.com/ForbesLindesay/acorn-globals/blob/master/index.js) so it might be something else.

[2015-05-22 10:12] marijnh commented on #263
Walking a variable expression as a Pattern rather than an Expression will make it not match the Identifier rule (https://github.com/ForbesLindesay/acorn-globals/blob/master/index.js#L123), but rather the VariablePattern rule. So I do believe this is the issue.

[2015-05-22 13:43] ForbesLindesay commented on #263
Can you deprecate that version and publish a new version with that change reverted please?  Then re-release as 2.0.0 if the behaviour is correct?

[2015-05-22 14:29] domenic commented on #263
Glad you guys were able to figure this out!! +1 to @ForbesLindesay's plan.

[2015-05-22 15:00] marijnh commented on #263
Well, I made a mess and pushed two bogus versions missing stuff from github master (don't release at the end of the day, I guess), but I believe I've also successfully deprecated the offending version and pushed proper versions 1.2.1 and 2.0.1.

[2015-05-22 15:00] #263 closed

[2015-05-22 15:53] domenic commented on #263
Thank you so much!

[2015-05-26 09:23] sevin7676 commented on #238
I finally got a response from the Chrome team and they are saying that your code is the problem, If you believe they are wrong can you please explain why on the [Chrome Issue](https://code.google.com/p/chromium/issues/detail?id=474183) *(I'm not very knowledgeable on this encoding subject)*.

[2015-05-26 10:06] marijnh commented on #238
Can you explain why this happens for you, but not for everybody else who's using Acorn in Chrome?

[2015-05-26 12:42] sevin7676 commented on #238
Let me clarify as the first post in this thread was incorrect:

The actual problem is that if you *save* acorn.js using any chrome app it breaks (meaning any of the chrome app text editors, such as [Caret-T](https://chrome.google.com/webstore/detail/caret-t/agiednhnlghobdgpgfdnbdaflnngmoij?hl=en)). There are a lot of chrome app text editors, and currently if anyone tries to save acorn.js using one

[2015-05-26 12:52] marijnh commented on #238
I'm sorry, but then don't do that. `dist/acorn.js` is a build artifact (the original regexp in `src/identifier.js` is fully escaped), and it being saveable in an apparently broken editor is not a concern for me. (Despite what the Chrome engineer said, I do consider a text editor that force-normalizes its text content to be broken. I understand that this is a complex interplay between the runtime a

[2015-05-26 12:52] #238 closed

[2015-06-04 22:28] getify opened #268 "Normailzation of `\r` in template literal to `\n` not working"
[code]

Produces:

[code]

Notice the `\r`'s instead of `\n`'s.

**Note:** I don't how this will map to the `raw` property of the AST, but the spec even calls for this normalization to happen for the template literal `raw` value (that is, there's no way to get the `\r` once the literal is processed). Would seem like the AST should be the same, but I'm not sure if that kind of stuff is parser-level

[2015-06-04 22:48] allenwb commented on #268
@getify note that  in your test the literal \r does not even exist in the string passed to acord.parse.  JS has already expanded the escape to U+000D in the string.  You need to escape the \ to get a \r into the actual input for the parser.

[2015-06-04 22:50] getify commented on #268
@allenwb we don't want the actual `\r` in the input to acorn though... we want the `U+000D` in there, to make sure that acorn changes it to `\n`, right?

[2015-06-04 23:03] allenwb commented on #268
@getify yes, and need to remember that JSON.stringify is re-introducing escapes...
so, in both the raw and cooked cases, the JSON of the parse tree should be showing "x\ny" if things are being proper normalized.  (I'm assuming that the values in the parse tree are showing values after TV/TRV processing)

[2015-06-05 08:04] #268 closed

[2015-06-11 00:26] DanielRosenwasser opened #270 "Issue with two consecutive labels on a statement"
[code]

When running this through acorn, I get the following error:

[code]

[2015-06-12 09:28] #270 closed

[2015-06-13 06:14] mbrowne opened #271 "Creating a new keyword in a plugin?"
I was wondering if you would be open to exporting more of the parser internals to make it easier to support new keywords using a plugin. I am interested in adding support for [DCI](http://fulloo.info/), for which I would like to add two new keywords, `role` and `context`.

I started working on a plugin for this but realized that many of the functions and variables needed to accomplish this (e.g. `

[2015-06-13 15:07] RReverser commented on #271
Keywords should not be added, not via new versions of spec nor via plugins as that might violate existing code assumptions. JavaScript has fixed set of those and even ES6 didn't add new ones, it just reused reserved words. Instead, the recommended way is to use concept called "contextual keyword" - regular identifiers that have specific meanings in one or other contexts.

[2015-06-13 19:03] mbrowne commented on #271
Thanks, but now I am confused...the `context` keyword I want to implement would in some ways be similar to a `class`. I looked at how the `class` keyword is defined in acorn's source and it does seem to be implemented as a regular keyword. To be clear, I am intending to extend the language; here is some example code I would like to support:
https://github.com/mbrowne/typescript-dci/blob/master/sam

[2015-06-13 19:55] RReverser commented on #271
Yes. I said above:

And `class` was a reserved word even in ES3. There is a good article by @mathiasbynens on this: https://mathiasbynens.be/notes/javascript-properties

As I said, the proper way to introduce new special-meaning word is not defining an incompatible keyword but implementing contextual one, that will have special meaning only in specific contexts and this won't break any existing co

[2015-06-13 19:58] sebmck commented on #271
More relevant section from the Flow plugin is [this](https://github.com/babel/babel/blob/master/src/acorn/plugins/flow.js#L649-667) part which parses `interface` declarations which is exactly what you want to do.

[2015-06-13 20:09] RReverser commented on #271
@sebmck IIUC, you didn't use `contextual` helpers purely for performance reasons there or ..?

[2015-06-13 20:10] sebmck commented on #271
@RReverser The contextual keyword has already been parsed.

[2015-06-13 20:13] RReverser commented on #271
@sebmck Ah right. Just wondering if any additional API is needed / would be useful in such case or rather redundant.

[2015-06-13 21:14] mbrowne commented on #271
Thank you for mentioning the examples...I think the `flow` one will be particularly useful. BTW, I noticed that the `flow` is implemented as a plugin for Babel. The last time I looked (a couple months ago I think), Babel's fork of acorn didn't seem to support plugins; was plugin support recently added? If so, that's great...I was actually hoping to use Babel for the output generation so that my DC

[2015-06-13 21:22] RReverser commented on #271
Yes, plugin support was added to Acorn about a couple of months ago (though API is still in flux a bit).

[2015-06-14 10:20] mbrowne commented on #271
One other question...what is the correct way to add a new property to an AST type? I would like to add a property `isDCIContext` to all functions to indicate whether or not the function contains DCI `role`s. I can of course just do:

	node.isDCIContext = true;

(where `node` is the function node), but I was thinking there might be a constructor or prototype for function nodes somewhere that I coul

[2015-06-14 10:40] RReverser commented on #271
Nope, no specific prototype because AST types are typed by `type` field which can be easily changed by various transformers and thus separate prototypes don't make much sense.

node.isDCIContext = true;
[code]

[2015-06-14 10:41] RReverser commented on #271
Closing this issue, but leaving it open for comments should you have any further questions.

[2015-06-14 10:41] #271 closed

[2015-06-14 10:42] mbrowne commented on #271
Thanks again :)

[2015-06-15 07:22] getify opened #272 "walking all nodes in the AST?"
I am trying to walk **all** nodes in an AST. I'm building a tool to scan a program to discover which ES6 features it needs.

Basically, this is how I'm doing it currently:

[code]

I'm using all the listed node types as exposed by `walk.base` to create a handler reference (same function for every type).

Unfortunately, I'm discovering some issues with this approach.

1. Most elements seem to be be

[2015-06-15 07:51] marijnh commented on #272
There is no way to have your callback called for every _node_, but there are ways to have it called for every _expression_, _statement_, and/or _pattern_, and those three taken together cover most interesting types of nodes (but not strictly all nodes, there are things like property nodes that don't fit any of those categories).

Many nodes are covered by several abstract node types, for example a

[2015-06-15 07:51] #272 closed

[2015-06-15 07:52] marijnh commented on #271
I think adding a property like that is most easily done in a second pass, after the parsing. You can use the bundled AST walker (or a 3rd party one) and simply mark all parent nodes whenever the feature is found somewhere in the AST.

[2015-06-15 08:10] getify commented on #272
It would be more helpful/courteous if you wouldn't just close the ticket without discussion or further clarification. You didn't address the most pressing point of my OP, which is seeking to do what I'm after with as little external duplication of tree structure/logic as possible.

To wit, I could manually walk a tree (without even using `walk.*`), but then I have to duplicate (outside of acorn) a

[2015-06-15 08:23] marijnh commented on #272
You are using the issue tracker for asking a support question. That is not what it is for. Me closing the issue does not stop you from adding further comments, it just prevents it from showing up in further searches for open issues. Note that I did take the time to answer you, for free, without even telling you to move this to the mailing list, or mentioning the fact that you didn't seem to have r

[2015-06-15 08:59] getify commented on #272
I was not aware that there's a support mailing list. I did try the tweets with the gist link as you may recall, but since that stalled and since my questions got more detailed I decided twitter wasn't a good medium for that -- hence moving here.

Apologies if I've missed some other documentation. I have read the entire README here quite thoroughly, several times, as well as the `walk.*` code, and

[2015-06-15 09:09] marijnh commented on #272
Are you using Acorn 1.x or 2.x? 1.x indeed does not walk parameter nodes and variable declaration names and such. Acorn 2.x walks them as _patterns_ to prevent confusion with the corresponding expression types. You will get `RestElement` walked in Acorn 2, and pattern identifiers are walked as `VariablePattern`.

It can't, but I'm still saying that it would be a bad idea anyway and you should use

[2015-06-15 09:20] getify commented on #272
I used the default version from `npm install acorn`, which is still `1.2.2`. I'll switch to `2.0.1` and hopefully that will help some.

OK, fair. Thanks for your help.

[2015-06-15 15:29] mbrowne commented on #271
Thanks for the tip. Given that there are no references to parent nodes from child nodes, that probably would be the simpler way to implement it...maybe it can be part of the output generation step (for which I'm planning to use Babel).

[2015-06-18 15:20] RReverser opened #274 "Arrow function should disallow duplicate param names"
According to the spec, arrow functions should forbid presence of duplicate parameter names.

[2015-06-18 16:03] RReverser opened #275 "Property getters and setters should validate number of params"
Require exactly zero parameters for `get x() {}` constructs.
Require exactly one (not zero and not >= 2) parameter for `set x() {}` constructs.

[2015-06-18 18:43] RReverser opened #276 "Duplicate __proto__ properties should be disallowed"
In ES6, duplication of those properties with strictly `PropertyName : AssignmentExpression` syntax should be considered a syntax error.

[2015-06-18 18:49] RReverser opened #277 "Concise method body should not allow expression"
This:
[code]
Is not valid as it was old SpiderMonkey-specific extension.

[2015-06-18 19:22] RReverser opened #278 "\u{XXXX} code points in regex should be <=10FFFF"
`\u{XXXX}` syntax should allow only code points in given range, and consider others as a syntax error.

[2015-06-18 19:31] RReverser opened #279 "`super` should be disallowed outside of functions and classes"

[2015-06-18 20:30] RReverser opened #280 "Template strings should disallow octal sequences"
Template literals should completely disallow octal sequences like `\07`, whether in strict mode or not.

[2015-06-18 22:13] RReverser opened #281 "AssignmentPattern should not contain `operator` field"

[2015-06-19 12:17] RReverser commented on #274
NOTE: still not sure whether this should be done on parser level, since in fact not only clash with other params is prohibited, but also clash with inner `let` and `const` declarations (and, well, those declarations are prohibited from conflicting with each other, too, so this might complicate the code a lot).

[2015-06-19 13:48] #280 closed

[2015-06-19 13:55] #277 closed

[2015-06-19 14:01] #281 closed

[2015-06-19 14:38] #278 closed

[2015-06-19 14:43] #279 closed

[2015-06-19 15:06] #275 closed

[2015-06-19 15:43] #276 closed

[2015-06-23 00:13] rolandpoulter opened #282 "Support for babel's es7 syntax?"
I'm trying to use docchi as documentation generator for my es6/es7 project. I created an issue on the docchi project: https://github.com/daliwali/docchi/issues/14

But I think this is more of an issue with acorn than docchi. I'd like to know if this is a feasible request for acorn or if it is not something acorn will support anytime soon?

[2015-06-23 00:15] rolandpoulter commented on #282
Currently getting an error from acorn when it encounters the decorator syntax. See http://babeljs.io/docs/usage/experimental/

[code]

```Unexpected character '@'```

[2015-06-23 08:53] RReverser commented on #282
Did you enable it via `optional` transformers?

[2015-06-23 17:13] rolandpoulter commented on #282
How do I enable it? I'm not finding anything in the readme.

[2015-06-23 22:01] RReverser commented on #282
Ah, wait, figured out that this is Acorn repo not Babel. Please use `babel-core` if you want to parse Babel-specific syntax instead.

[2015-06-23 22:01] #282 closed

[2015-06-24 14:34] jmm opened #283 "Fails to parse some `export default` statements"
`acorn@2.0.4`. Example:

[code]

Result:

[code]

This parses:
[code]

I originally [noticed this downstream](https://github.com/RReverser/acorn-jsx/issues/25) in `babel` / `acorn-jsx` with JSX:

[code]

[2015-06-24 14:41] #283 closed

[2015-06-24 14:45] jmm commented on #283
@marijnh Thanks!

[2015-06-25 18:24] nzakas opened #284 "Add onWhitespace?"
I've been experimenting a bit with Acorn for rewriting JavaScript code, but at the moment it's a bit tricky because there's no direct access to whitespace. If there was an onWhitespace handler, then it would be possible to use that plus onToken and onComment to be able to reconstruct the JavaScript source exactly, which would make rewriting significantly easier.

Is this something you'd be open to

[2015-06-26 10:14] marijnh commented on #284
I don't think this is necessary -- you already have the source string and the offset of a given node into it. Whenever I've needed information about whitespace, scanning for whitespace on node boundaries by indexing into the source string worked wonderfully (and more conveniently than it would be to first accumulate whitespace information through a callback then searching it).

[2015-06-26 16:19] nzakas commented on #284
My use case is slightly different, I basically just want to run through the code and replace tokens, so I'd just keep adding whitespace, comments, and tokens onto the result as they come in.

I'm sure I can figure out another way to do it, it just seemed like this was the last missing piece of info not exposed via a method. Thanks for the response!

[2015-06-26 19:39] marijnh commented on #284
I see. But can't you just track the current position (the end of the last-seen comment or token) and add a whitespace item whenever a new item comes in that doesn't come directly after the previous one?

[2015-06-27 17:25] nzakas commented on #284
Yeah, that's what I'm looking at doing. I thought maybe the parser was accumulating whitespace and would be easy to expose rather than calculate, but it seems that's not the case, so no worries.

[2015-06-29 16:56] mrjoelkemp opened #286 "Docs on accessing the loose_parser in a node environment"
The docs state the link between `require('acorn')` and `dist/acorn.js`, but I see no mention of accessing `dist/loose_parser` via a require interface.

Previously, back in the 0.x days, I could access the loose parser via `require('acorn/acorn_loose');`. Unsure and confused about how to do it now.

[2015-06-29 19:37] RReverser commented on #286
`require('acorn/dist/acorn_loose')` should do the trick. Let me know if that doesn't work.

[2015-06-29 19:42] mrjoelkemp commented on #286
That works fine @RReverser. Thanks! I'll submit a PR that adds this to the readme.

[2015-06-29 20:19] #286 closed

[2015-06-30 08:28] mathiasbynens commented on #278
Sorry for the late response. This is absolutely correct. Note that things like `\u{000000001D306}` are valid (any number of hex digits is allowed) as long as the code point value is `<= 0x10FFFF`.

Thanks, @RReverser!

[2015-07-03 08:06] onelson opened #289 "unterminated regular expression (works via constructor, but not as literal)"
Repost of babel/babel#1909

Some vendor code I depend on has a section that fails to compile. Offending code looks along the lines of the following:
[code]

If rewritten with a RegExp constructor, it compiles fine.
[code]

Seems like this is a babel bug since

Works:
[code]
but these break:
[code]

[2015-07-04 09:53] RReverser opened #290 "Allow passing array of `plugins`"
Current approach makes all the plugins to be added via custom name and later used via the same name, too. This has implications similar to putting everything into global scope - name colliding, several sources of truth etc.

I'd propose to use array instead of dictionary, which would contain actual plugins and to split instance-options passing. This will play nice with any module ecosystem or loca

[2015-07-06 17:47] jmm opened #291 "Extract / expose string literal parsing logic"
Would you be open to a PR that extracts the string literal parsing as an export and / or its own module? E.g.:

[code]

Essentially expose the [`readString()` method from `tokenize.js`](https://github.com/marijnh/acorn/blob/094460a1e881ca90ed535ff0cc48c27108cdeebe/src/tokenize.js#L527) for arbitrary string input and return the `out` value or a node:

[code]

The motivation is for use downstream in

[2015-07-06 18:18] jmm opened #292 "Default to `loc: null` props?"
For conformance with ESTree, should there be `loc: null` on each node by default? I realize this would be a breaking change, and that you may well want to provide a way to disable that output, but I would anticipate the default output providing the interface from ESTree.

[2015-07-06 22:29] RReverser commented on #292
ESTree is language-independent. Most tools treat missing properties (`undefined`) as `null` values very well. Especially for optional things like location tracking.

[2015-07-06 22:30] RReverser commented on #291
You have `.tokenizer` for that - just read token and assert that it's type is string.

[2015-07-07 13:49] jmm commented on #292
Ok, thanks for the explanation. I'd seen `RegExp` as a possible type in the spec and thought it was being expressed in terms of JS. I just read some of the issues regarding `RegExp` and serialization and see that I misunderstood. I think it might be worthwhile to clarify what `null` means in the spec though, but obviously that's not an issue for here.

Thanks!

[2015-07-07 13:49] #292 closed

[2015-07-07 18:59] jmm commented on #291
@RReverser Awesome, thanks! It's actually necessary to compare the evaluated value of `raw` as well, but `tokenizer()` also returns that. I used that in my babel PR -- will see what sebmck says.

Yeah, totally. I know sebmck objected to using `parse()` and I didn't realize I could use `tokenizer()` as a middle ground between that and what I was considering. Will have to see if that's satisfactory

[2015-07-10 21:36] jmm commented on #291
Well, @RReverser has seen the discussion on the babel issue (upshot: use of `tokenizer()` isn't being accepted there). I may end up extracting or duplicating this functionality in an npm package anyway, but if you're not interested in structuring things that way here you can feel free to close this issue.

Thanks for your help @RReverser!

[2015-07-10 21:41] RReverser commented on #291
@jmm I just feel that, if done consistently, this would result in deserializing each type of entities that may happen in JavaScript (string literals, octal/binary/hex numbers, regexps, ...) and without any linkage to tokenizer would be completely out of scope of parser; in opposite, if same helpers will be used in parser as well, then performance lost will happen due to generalization. So yeah, fe

[2015-07-10 23:02] #291 closed

[2015-07-10 23:03] RReverser commented on #284
Looks like consensus is reached, so I'm closing this issue.

[2015-07-10 23:03] #284 closed

[2015-07-13 14:50] jmm commented on #291
@RReverser Yeah, for my case string literals are the only relevant type anyway, so I'd be wanting to special-case handling just for those.

Ok. I just really dislike duplication, but I know you must have to very carefully tend to performance here.

[2015-07-13 15:50] #289 closed

[2015-07-14 09:41] marijnh commented on #290
The advantage of the existing format is that it is declarative (and thus easy to pass around, inspect, read from configuration options, and serialize). I am very skeptical about name collisions being an issue here (just use the npm name, which is already a global namespace).

On the whole, I don't think this is a big enough improvement to take an incompatible change for, and supporting both format

[2015-07-14 09:48] RReverser commented on #290
Not all plugins have npm names, as it becomes usual to implement them internally for needs of separate projects. In that case, e.g. internal Babel's `flow` plugin can silently conflict when separate `flow` plugin is published to npm.

[2015-07-14 19:34] knurst commented on #272
You can walk all nodes by adding a handler for all node types, like this:

[code]

[2015-07-14 20:41] marijnh commented on #272
@knurst I'm not sure why you didn't read the thread that you're replying to, but this is pretty much what @getify started with, and it did not work, for reasons explained in this same thread.

[2015-07-15 03:07] mrjoelkemp opened #293 "Acorn loose parser hangs with ecmaVersion 6"
This test recreates the stall:

[code]

You'll see that the process never exits, it just runs out of memory. I assumed from the docs that you could just pass all of the same options that you would to the regular parser.

My use case is that I have a parse that tries a regular parse, and falls back to a parse_dammit if unsuccessful. Passing along the same options between parsers worked on 1.x versi

[2015-07-15 03:09] mrjoelkemp commented on #293
As a fix, I've removed passing the parser options to the loose parser. If the parser doesn't expect that option, then we need to fix the docs.

[2015-07-15 10:01] #293 closed

[2015-07-15 11:09] mrjoelkemp commented on #293
Cheers @marijnh. Thanks!

[2015-07-15 20:42] mrjoelkemp opened #294 "Cut a release for the recent bugfix?"
I need the bugfix that landed this morning (af5f7cf4b8e76fe5b157cb0a8adfbcf138564f18). I can pull acorn by the git url and the sha of that commit, but `dist/acorn.js` and `dist/acorn_loose.js` don't exist in the codebase.

Any chance you could cut a patch release (or minor if the other commits apply)? To avoid rushing the maintainers, it would be preferable if there was documentation to make the g

[2015-07-17 03:43] andy-hanson opened #296 "`raw` for TemplateElement"
The estree spec (https://github.com/estree/estree/blob/master/es6.md) says that a TemplateElement should have `cooked` and `value`, while acorn uses `cooked` and `raw`.

Second, shouldn't `raw` be `\n` (2 characters) in this example?

	var template = require('acorn').parse('`\n`', {
		ecmaVersion: 6
	}).body[0].expression

	console.log(template.quasis[0].value.raw)

For me it is a single newline c

[2015-07-17 08:39] marijnh commented on #294
I've just released 2.1.0

[2015-07-17 08:39] #294 closed

[2015-07-17 10:54] mrjoelkemp commented on #294
Cheers. Thank you. Should i file a separate issue for the lib being
unusable when npm installing via git url?
On Jul 17, 2015 4:40 AM, "Marijn Haverbeke" <notifications@github.com>
wrote:

[2015-07-17 11:01] marijnh commented on #294
No, that's something we are not going to fix (it'd require keeping build artifacts in the repository, which we are not interested in)

[2015-07-17 11:39] mrjoelkemp commented on #294
Thanks for clarifying and for your time. I guess that means the only way to
use the latest master between releases is to fork, build the assets, and
use my fork specifically?

Not trying to be a thorn, but this sounds counter to the ecosystem to not
support git url downloads for bleeding edge usage. I'd question the need to
have package.json point to dist if dist is there (i would assume) mostly
f

[2015-07-19 03:42] RReverser commented on #296
Hm, this is interesting, need to find a discussion where we decided on changing to `value` in ESTree (maybe problem is on the spec side).

[2015-07-19 08:01] binarykitchen commented on #259
grrr, i still have the issue and no luck yet finding the bad npm package

[2015-07-19 20:23] marijnh commented on #294
Acorn is written in ES6, so `/dist` is needed for node as well.

[2015-07-20 12:37] RReverser commented on #294
@marijnh If you would give me an npm rights, I could help with cutting releases for important patches as well.

[2015-07-28 08:57] XVincentX opened #298 "Webpack detects prebuild javascript file on dist"
Hey,
I just wanted to let you know that when trying to create a bundle with webpack, I am getting this warning.

[2015-07-28 14:54] marijnh commented on #298
So it goes. We distribute pre-compiled web-friendly files, so webpack's diagnosis is right. This isn't going to change though, for the time being. (You could try to set up webpack to compile from the ES6 sources under `src/` if you are so inclined.)

[2015-07-28 14:54] #298 closed

[2015-07-28 15:20] XVincentX commented on #298
Or (as I did) ignore its parsing using the `noParse` option.

[2015-07-30 18:30] RReverser commented on #296
Checked again - looks like Esprima also uses `raw` and `cooked`, so it's definitely a bug in spec. Will raise an issue.

[2015-08-03 09:37] hackwaly opened #300 "Ability to do incremental lexing"
Can tokenizer provide two methods `getState` and `setState` just like CodeMirror? So we can use it for incremental lexing such as live syntax highlighting in code editor.

[2015-08-04 15:19] davidbonnet opened #301 "Unexpected `operator` property on `AssignmentPattern`"
The property `operator` is present for `AssignmentPattern` node types. This happens when parsing arguments of named functions and function expressions such as `function f(a = 1) {}` or `function (a = 1) {}`. It isn't present for arguments of arrow functions.

Example with `test.js` containing:

[code]

Excerpt of the output of `acorn --ecma6 test.js`:
[code]

[2015-08-04 15:20] sebmck commented on #301
`operator` was removed in commit c59d92cfcc4d07e82ad9bd2de8520e93db0879e8, make sure you're not using an old version.

[2015-08-04 15:33] davidbonnet commented on #301
Unless mistaken, I did test it on the latest version. What output do you get ?

[2015-08-04 15:35] sebmck commented on #301
There's no `operator` present for any of them. If you search for [`AssignmentPattern`](https://github.com/marijnh/acorn/search?utf8=%E2%9C%93&q=AssignmentPattern) throughout the acorn source, you can see that whenever `type` is set to `AssignmentPattern`, `operator` is also deleted.

[2015-08-04 15:51] davidbonnet commented on #301
That's weird, even after a fresh checkout of `acorn`, I still get the `operator` property as shown above.

[2015-08-04 19:20] RReverser commented on #301
Definitely fixed on Acorn side, as you can see from tests, so I'm closing this issue. Please ensure that you're checking out master branch and building Acorn correctly (or maybe you just missed the build step?).

[2015-08-05 07:16] reggi opened #302 "Error parsing file starting with '#!/usr/bin/env node'"
I'm running into an error parsing a `bin` file that starts with the pound symbol `#`. Any way to fix / remedy this?

[code]

[2015-08-05 07:16] reggi commented on #302
Just found `allowHashBang` :)

[2015-08-05 07:16] #302 closed

[2015-08-05 11:23] davidbonnet commented on #301
Sorry to keep bothering you with that minor issue, but I checked again by making sure I'm running the latest version and the `operator` property is still there.

The tests you mention check only expected properties, not unexpected ones (see [here](https://github.com/marijnh/acorn/blob/master/test/driver.js#L85)). Nodes could have a property named `foo` and the tests would still pass.

[2015-08-05 12:01] RReverser commented on #301
Hm looks like you're right it's still somehow left here for functions.

[2015-08-05 12:08] davidbonnet commented on #301
Apparently, @sebmck has a local version that doesn't output that property…

[2015-08-05 12:10] #301 closed

[2015-08-05 12:10] RReverser commented on #301
Yeah, I forgot to remove it in `parseMaybeDefault`. Done, thanks for reporting and insisting :)

[2015-08-05 12:17] davidbonnet commented on #301
No problem, thanks for fixing it.

[2015-08-06 07:01] DanielRosenwasser opened #303 "'let' is not considered a valid identifier with 'ecmaVersion: 6'"
The following should be allowed when not in a strict-mode context:

[code]

Instead I get:

See: https://github.com/eslint/espree/issues/149#issuecomment-122324416

[2015-08-06 10:13] RReverser commented on #303
Pretty much subset of #227.

[2015-08-06 11:38] marijnh commented on #300
Nope, it can not. You could try to implement it and submit a pull request. But I am not going to work on it myself.

[2015-08-06 11:38] #300 closed

[2015-08-09 00:41] #303 closed

[2015-08-21 15:01] Victorystick opened #305 "Add jsnext:main field to package.json"
Since acorn is written in ES6, it could define a `jsnext:main` field in its package.json to allow easier integration with other ES6 code, by letting them find the entry point.

See https://github.com/rollup/rollup/wiki/jsnext:main and https://github.com/caridy/grunt-bundle-jsnext-lib/blob/master/README.md#optionsmain.

[2015-08-21 15:04] RReverser commented on #305
Hmm, it doesn't look like some standardized field nor widely used one.

[2015-08-21 15:51] Rich-Harris commented on #305
@RReverser

Exactly! We have a classic chicken-and-egg problem – it'd be great if the whole JavaScript community could adopt ES6 modules, because conversations about [module hell](https://medium.com/@trek/last-week-i-had-a-small-meltdown-on-twitter-about-npms-future-plans-around-front-end-packaging-b424dd8d367a) and suchlike are fairly tedious. But the only way we can get to that point is if we ca

[2015-08-21 16:31] caridy commented on #305
I expect `jsnext:main` to be used in consumer libraries that could work on the client as a way to rollup and fold modules for better performance when running on a browser env, not so sure if acorn fits into that description, but @RReverser will know better.

[2015-08-21 16:45] eventualbuddha commented on #305
It would allow projects like rollup and babel to include acorn without using a tool like browserify, but really it's the utility packages like lodash that would most benefit their users by adding `jsnext:main`.

[2015-08-21 17:00] RReverser commented on #305
Well, it even now can - just `import ... from 'acorn/src'` instead.

Except that Babel doesn't use Acorn anymore, but rather internal fork.

I see your arguments, but the problem that I see is that "jsnext" is currently an extremely wide definition. Where is the border after which "jsnext:main" should be changed just to main? When Node.js starts supporting all the ES6 features and can just execute

[2015-08-21 17:41] Rich-Harris commented on #305
Those are fair concerns, thanks for articulating them. Some of them have solutions (e.g. `jsnext:main` could become `main` as soon as all the platforms a given package wants to support can consume ES6 modules, and custom Babel plugins could theoretically be dealt with via `.babelrc` or the `babel` field in `package.json`), though none are necessarily ideal.

Clearly there needs to be *some* way to

[2015-08-21 20:59] RReverser commented on #305
Thank you for proposal and understanding. Most likely this kind of problem needs to be solved on ECMAScript side (since ES6 defined only syntax, and not loader APIs), after which Node.js+npm can integrate it for own needs. I'll be happy to revisit this proposal as soon as it happens.

[2015-08-21 20:59] #305 closed

[2015-09-05 19:06] tolmasky opened #309 "Policy on ES7 (such as async)?"
We are currently using babel's fork of acorn just to have async support. I'd much prefer to use official acorn if possible. Was curious if adding async is a possibility (guarded by ecmaVersion: 7 or some other option)?

[2015-09-05 21:42] RReverser commented on #309
It's totally possible. I believe the best would be to implement those things as plugins for now until syntax is more shaped, and then bring those plugins into the core. Given that they are already implemented in Babel's fork, it should be pretty easy to extract them outside.

[2015-09-05 22:15] RReverser commented on #309
Although as far as I see, async advanced to stage 2, so I think we can implement it here.

[2015-09-05 22:33] sebmck commented on #309
The Bable implementation of async functions uses a lookahead. In order to properly abstract the lookahead the entire parser was abstracted out into a separate `state` that can be rolled back. The changes involved in doing so were quite intrusive so you will be unable to exact it without a lot of hassle.

[2015-09-05 22:44] tolmasky commented on #309
I'd continue using babel's parser, but it was from the start littered with "not meant for public use" warnings, and now seems to be completely unreachable as a separate package (ever since the move to have a custom parser?)

[2015-09-05 22:45] sebmck commented on #309
@tolmasky https://github.com/babel/babel/tree/master/packages/babylon

[2015-09-05 22:49] tolmasky commented on #309
@sebmck a bit off topic for this bug so apologies, but should I treat babylon as public (unlike acorn-babel), and will it support util/walk like acorn-babel did, or should I be looking for a different way to traverse

[2015-09-05 22:51] sebmck commented on #309
@tolmasky Yeah off-topic for this issue tracker, feel free to ask on the [Babel Slack](http://slack.babeljs.io/) though. Thanks!

[2015-09-11 10:34] matAtWork commented on #309
+1 - is async/await support on anyone's todo list, or should I have a hack myself?

[2015-09-11 10:50] RReverser commented on #309
Not on current TODO, but you can totally send PRs.

[2015-09-15 00:26] TimothyGu opened #310 "Tag missing for 2.3.0"

[2015-09-16 15:38] stela5 opened #313 "Class properties support"
Any chance you'd consider support for https://github.com/jeffmo/es-class-properties ?

References:
https://github.com/marijnh/acorn/issues/78
https://github.com/heilhead/es-identifier-highlight/issues/2#issuecomment-140767658

[2015-09-16 16:50] RReverser commented on #313
Pretty much the same situation as with #309.

[2015-09-22 09:17] marijnh commented on #310
Good catch. Fixed.

[2015-09-22 09:17] #310 closed

[2015-09-22 09:24] marijnh commented on #313
Yes, this is similar to #309 , and again, let's keep ES7 stuff in plugins until the spec is finished.

[2015-09-22 09:24] #313 closed

[2015-09-22 10:57] #309 closed

[2015-09-22 15:50] matAtWork commented on #309
I've added the key bits as a plugin at https://github.com/MatAtBread/nodent/blob/acorn/parser.js

The parser is NOT compliant with ESTree's spec - it requires some additional transforms to (in particular) add the .async property to FunctionDeclaration and FunctionExpression, and 'await' is currently a UnaryExpression with the operator set to 'await'. However, implementing the parse in this way, fo

[2015-09-27 06:43] TimothyGu commented on #296
This should be closed as the ESTree bug is fixed.

[2015-09-27 14:56] #296 closed

[2015-09-29 03:17] savacristian opened #319 "Could not install acorn"
I can't install acorn with npm, these are the errors that I get:

npm ERR! Darwin 14.5.0
npm ERR! argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "acorn"
npm ERR! node v4.1.1
npm ERR! npm  v2.14.4
npm ERR! code ELIFECYCLE
npm ERR! acorn@2.4.1 prepublish: `node bin/build-acorn.js && node bin/without_eval > dist/acorn_csp.js`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the acorn@2.4

[2015-10-02 16:23] matAtWork commented on #309
Finally published this cleanly: https://github.com/MatAtBread/acorn-es7-plugin

[2015-10-02 16:57] RReverser commented on #309
@matAtWork Did you handle `async (x,y) => x + y` vs `var res = async(x, y);` ?

[2015-10-02 17:10] matAtWork commented on #309
Not really..., on the basis that if you set ecmaVersion to 7 the latter is no longer valid as 'async' is a keyword, so no identifier should be called 'async' in exactly the same way as 'typeof' or 'delete' as local identifiers are problematic. References such as `var res = obj.async(x,y)` should be fine tho.

The implementation is a bit simplistic (it pretends 'async' and 'await' are both unary pr

[2015-10-02 17:14] matAtWork commented on #309
..actually, looking at it, the fix is probably not too hard, it parses as 'UnaryExpression<async>  (SequenceExpression)' and I can patch up the in the same way as I do for the other cases. I'll take a look later and re-publish

[2015-10-02 17:25] matAtWork commented on #309
....nah, too simple. I'll give it some thought!

[2015-10-02 17:30] TimothyGu commented on #309
@matAtWork yep, it's not simple at all :)

`yield` is similar to the situation of `await`, and it is not fixed yet (see #227). I just fixed `let` as an identifier (#317), and, for the lack of better words, is a pain in the butt. Supporting `yield` doesn't look any simpler than `let`.

[2015-10-02 17:34] TimothyGu commented on #309
[Esprima](https://github.com/jquery/esprima/blob/master/esprima.js#L4978) and [Shift](https://github.com/shapesecurity/shift-parser-js/blob/es6/src/parser.js#L118) had to use a flag in the main parser state object to know whether `yield` is allowed in this specific context or not. `await` can probably be processed the same way.

[2015-10-02 17:38] matAtWork commented on #309
Actually, I can get them all to work reasonably easily, except for the first case(!)
[code]

I've not posted the fix for the other cases, but as long as there's a space between the async and arrow function the others work OK. I'll have another go at it when my wife and kids stop asking what's for supper

[2015-10-02 17:58] RReverser commented on #309
Well, space is definitely insignificant. That's why @sebmck's babylon used look-ahead for implementing this and other features :)

[2015-10-02 19:49] TimothyGu commented on #309
@matAtWork have you tried these :)

[code]

I believe they are all valid expressions under the async function draft.

[2015-10-02 21:29] zertosh opened #320 "`do` and regex parsing"
The following is valid js but it fails to parse with an `Unexpected token` error at the first `/`:

[code]

It also affects babylon. espree-2.2.4 and esprima-2.5.0 handle it just fine, producing the following AST as expected:

[code]

[2015-10-02 21:49] matAtWork commented on #309
I'm surprised that the use of a keyword/reserved word as an identifier is permitted (which seems to be the source of most of these ambiguities), but given the prevalence of the async(!) library, it makes some sense. Do you know why it's permitted for `async` but not `typedef`, `function` or `while`? Right now, the plugin will fail on most of these - both 'async' and 'await' are treated as keywords

[2015-10-02 21:58] sebmck commented on #309
They're called contextual keywords and are used commonly enough as identifiers that you can't make them keywords without breaking the web.

On Fri, Oct 2, 2015 at 10:49 PM, Matt W <notifications@github.com> wrote:

[2015-10-02 22:02] matAtWork commented on #309
Yeah.....I'm trying to go through the details of http://tc39.github.io/ecmascript-asyncawait/#sec-modified-abstract-ops now. Definitely on the edge of my comfort zone. I appreciate the feedback tho! Do I get from TimothyGu earlier than esprima have solved this already?

[2015-10-02 22:04] TimothyGu commented on #309
@matAtWork, they solved the problem of `yield`, which has similar semantics as `await`.

[2015-10-02 22:06] TimothyGu commented on #309
Also I would focus more on https://tc39.github.io/ecmascript-asyncawait/#modified-productions, which contains context-free grammar applicable to a parser like acorn.

[2015-10-02 22:14] matAtWork commented on #309
I'm guessing my current approach won't work - I can improve compliance of some simple cases, but in general it won't work (since an Identifier can appear legitimately in many places), and I'll need to dig into the code at a lower level than the plugins seem to permit......so for now I'll treat it as ES6.9 (7.0 - identifiers async & await). I'll update the README with the extra restriction and hope

[2015-10-02 22:29] #320 closed

[2015-10-05 14:48] matAtWork commented on #309
Ok, so I have pretty much got both `async` and `await` working as contextual keywords, but have one remaining issue which appears to be a 'spec' issue: how do I await on an async function returned by await?

[code]

[2015-10-05 15:10] rwaldron commented on #309
cc @bterlson

[2015-10-05 16:07] matAtWork commented on #309
Asked and answered at https://github.com/tc39/ecmascript-asyncawait/issues/67. Thanks to @sebmck and @bterlson

[2015-10-05 18:50] matAtWork commented on #309
For those following this thread, I've implemented the contextualisation of async and await and pushed to https://github.com/MatAtBread/acorn-es7-plugin. It works correctly with all the examples @TimothyGu posted earlier and bunch of other cases I came up with. Feedback appreciated.

[2015-10-05 19:04] sebmck commented on #309
There's no line terminator allowed after `async`:

[code]

is just an `ExpressionStatement` followed by a `FunctionDeclaration`. You also naively assume that a function expression inside of an expression statement is a function declaration. This is not always the case:

[code]

You also allow a function declaration without a binding identifier:

[code]

And due to the incorrect expression -> decla

[2015-10-05 21:18] matAtWork commented on #309
I know you probably think I'm crazy doing this in a plugin, but I'm learning useful stuff and enjoying it - so thanks for the input.

I've covered the cases you brought up (3 out of 4 of them were due the assumption about top>ExpressionStatement>FunctionExpression === top>FunctionDeclaration, which was a stupid carry over from an ancient bit of code).

Hopefully it's much closer to the spec now, a

[2015-10-06 00:40] matAtWork commented on #309
BTW, it is using lookahead - it creates a subParser from the passed parser and extends raise() to check if the source after the 'async' is an expression without consuming it in the 'main' parser. There's a couple of cheesy regexps as well to see if a statement begins with 'async' without entering the expression parser.

[2015-10-07 08:56] marijnh commented on #319
Unfortunately, those error messages don't include anything useful. Could you try this again and then paste the content of `npm-debug.log` in this issue afterwards?

[2015-10-07 18:17] nzakas opened #322 "Confusing token for ES6 binary/octal literals"
For both ES6 binary and octal literals, Acorn returns the interpreted value of the literal in the token instead of the source text.

**Actual:**

`0b101` yields this token:

[code]

Nowhere in the token is `0b101` found.

Likewise for `0o101`:

[code]

**Expected:** I expected the `value` of these tokens to be the source text, not the interpreted value.

[2015-10-07 18:52] RReverser commented on #322
`value` is really just a value for `Literal` node in any token, and `raw` can be taken as `input.slice(start, end)` where needed.

[2015-10-07 18:53] marijnh commented on #322
Ah, I typed almost exactly the same thing as @RReverser, but he beat me to posting it.

So yes, this is by design (tokens are uniform objects, containing only the fields you are seeing, regardless of their type.)

[2015-10-07 18:53] #322 closed

[2015-10-07 20:33] nzakas opened #323 "Additional nonstandard properties on TryStatement"
When I parse a `try` statement, I see two properties that are not part of ESTree:

1. `guardedHandlers`
1. `guard`

Esprima/Espree had removed these a while ago, just wanted to check if these are meant to be present in Acorn or not.

[2015-10-07 20:34] sebmck commented on #323
It's legacy stuff from old Esprima which was taken from some custom Mozilla SpiderMonkey extensions.

[2015-10-07 20:35] nzakas commented on #323
Yup, I'm aware that it's legacy. My question is whether or not it should still be in Acorn or not?

[2015-10-07 21:10] nzakas opened #324 "Missing early error for new.target"
According to the spec, this source is invalid:

[code]

Both Esprima and Espree throw an error whenever `new.target` is used outside of a function. Shift throws an error with early warnings turned on.

Should this throw an error in Acorn?

[2015-10-07 22:32] RReverser commented on #323
Well... they were left for backward compatibility, but at this point they can be probably removed (I guess).

[2015-10-08 19:15] nzakas commented on #324
BTW, happy to submit a PR if this is desired.

[2015-10-08 19:16] nzakas opened #325 "Duplicate parameter checking"
Any strict-mode function with duplicate parameters is considered an error in ES6, so this:

[code]

Throws an error in Esprima and Espree. Are you open to supporting duplicate parameter checking in Acorn?

[2015-10-08 19:19] marijnh commented on #325
There is already duplicate parameter checking (see for example `function(a, a) { "use strict"; }`), but it looks like that is not kicking in in this case. If you want to look into it, that'd be great. (If not, I'll do so next week.)

[2015-10-08 19:20] marijnh commented on #324
Yes, we are forbidding `return` outside of functions, so it'd make sense to check this too. PR would be wonderful.

[2015-10-08 19:27] nzakas opened #326 "Module edge cases that are missed"
There are a couple of cases I've come across where the parser should throw errors but does not.

The first:

[code]

In ES6, `await` is a future reserved word when in a module ([reference](http://www.ecma-international.org/ecma-262/6.0/#sec-future-reserved-words)) and should throw an error.

The second:

[code]

This should throw an error because exporting `*` requires `from` and a module name, su

[2015-10-08 19:29] nzakas commented on #324
I'll work on a PR today

[2015-10-08 19:35] marijnh commented on #326
We're still turning off reserved word checking by default (see the `allowReserved` option). If you enable that, the first case does raise an error. I guess it would make sense to change the default for ECMAScript 6 and up to enable this. (It used to be widespread practice for browsers to accept reserved words.)

I can't get Acorn to accept `export *`. When I feed it that it yields "Uncaught Syntax

[2015-10-08 19:39] marijnh commented on #326
Attached patch fixes the `allowReserved` default. Please let me know whether the `export *` thing is something that you can still reproduce.

[2015-10-08 19:58] #324 closed

[2015-10-08 20:00] rwaldron commented on #325
This issue report isn't wrong, but I think you'll both appreciate some specific clarity here: Arrow functions are not strict mode by default, but they do have a supplemental grammar that must be used for their formal parameters. The supplemental syntax here: http://www.ecma-international.org/ecma-262/6.0/#sec-arrow-function-definitions uses [_StrictFormalParameters_](http://www.ecma-international.

[2015-10-08 20:37] nzakas commented on #325
@rwaldron Thanks for the clarification, you've saved me time digging through the spec because I had noticed the code I was using wasn't in strict mode. Very helpful.

@marijnh I'll take a look at this.

[2015-10-08 21:11] rwaldron commented on #325
Glad I could be helpful! :)

[2015-10-08 22:41] nzakas commented on #326
Ah, looks like I wasn't using the latest version. Sorry about that.

After upgrading, I found two more issues:

[code]

This should be a syntax error (it needs `from`).

[2015-10-09 12:12] #323 closed

[2015-10-09 12:12] marijnh commented on #323
Attached patch removes those. Since no one is using these language features, I don't think it is likely that anyone is depending on those properties.

[2015-10-09 12:15] marijnh commented on #326
I'm pretty sure the standard allows this (and that it means to export from the local module). See http://www.ecma-international.org/ecma-262/6.0/#sec-exports

[2015-10-09 12:16] marijnh commented on #326
(Also, you mention 'two more issues' and only list one. Did you forget to add the second?)

[2015-10-09 16:22] nzakas commented on #326
Oops, copy-paste error, I meant one more issue.

It's possible I'm misunderstanding the spec, but the Espree module implementation was written by @caridy, so I'd defer to his knowledge in this area.

[2015-10-09 16:47] rwaldron commented on #326
The names in `export { ... }` are _IdentifierName_s:

[code]

There is a [special syntax definition that prohibit the use of _FutureReservedWord_s](http://www.ecma-international.org/ecma-262/6.0/#sec-exports-static-semantics-early-errors).

[2015-10-09 17:03] nzakas commented on #326
@rwaldron So `export {default}` should not be allowed because `default` is a keyword?

[2015-10-09 18:17] caridy commented on #326
@nzakas this is tricky because the spec doesn't provide all the details, it is just a combination of rules, but in principle, `export {default}` is invalid. only `export {default} from "something"` should be allowed. you can't have a binding for `default` identifier in the module body, that's why!

[2015-10-09 18:38] TimothyGu commented on #326
To expand upon @caridy's comment and to correct a minor mistake in @rwaldron's comment: `export { default }` in invalid, not because `default` is a [*FutureReservedWord*](http://www.ecma-international.org/ecma-262/6.0/#sec-future-reserved-words), but rather that it is a [*Keyword*](http://www.ecma-international.org/ecma-262/6.0/#sec-keywords), and thus a [*ReservedWord*](http://www.ecma-internatio

[2015-10-09 19:00] angelozerr opened #329 "How to extend acorn walk.simple? With a plugin?"
I have started to create a tern plugin for React https://github.com/angelozerr/tern-react based on [acorn-jsx](https://github.com/RReverser/acorn-jsx). I have a problem with acorn walk. Because of acorn-jsx add a JSXElement, I have an error when walk.simple is used with base[type] where type is equal to JSXElement.

acorn-jsx which is an acorn plugin can customize acorn parser, it should be cool i

[2015-10-09 19:03] rwaldron commented on #326
Yep. Incidentally, I had meant to type (or thought I did) "_ReservedWord_ and strict mode _FutureReservedWord_"... I must've deleted that part when I was making it a link. Thanks for spotting that and providing a correction.

[2015-10-09 20:03] nzakas commented on #326
Thanks everyone. @marijnh I'll put together a PR.

[2015-10-09 20:45] angelozerr commented on #329
Ok I close this issue. It was easy to add custom JSXEement  to teh walk.base of acorn.

[2015-10-09 20:45] #329 closed

[2015-10-12 19:02] nzakas opened #331 "ES5 strict mode edge case"
I came across this behavior in ES5 strict mode. ES5 strict mode forbids all duplicate properties, including `__proto__`(as it has no special significance in ES5), so this should be a parser error when `ecmaVersion` is 5:

[code]

However, this parses completely fine. In looking at the code, this seems to be caused by a special behavior on objects when `__proto__` is the property name. Specifically

[2015-10-12 19:58] RReverser commented on #331
Oh, nice catch! Lightening that check would cause `proto` and `__proto__` to be considered as same property, which is even worse. I think we could just prefix every key with e.g. `$` to be sure that no conflict with built-in props is happening.

[2015-10-12 20:05] nzakas commented on #331
Ah, good idea! I can put together a PR if you'd like.

[2015-10-12 20:05] RReverser commented on #331
Working on it :)

[2015-10-12 20:13] nzakas commented on #331
Schweet

[2015-10-12 20:16] #331 closed

[2015-10-12 20:46] marijnh commented on #331
An arguably cleaner solution would be to initialize the object as `{__proto__: null}`, which paradoxically enough gives you a 'clean' map object that doesn't treat `__proto__` specially. But I'm not actually sure that behaves correctly on all browsers we want to support, so never mind, let's stick with this.

[2015-10-12 21:12] nzakas commented on #331
I did some initial tests with that, and it still didn't quite work.

[2015-10-12 21:41] nzakas opened #333 "Arrow function parsing error"
The following pattern is considered invalid in ES6 (see https://github.com/eslint/espree/issues/205#issuecomment-147501058):

[code]

This should throw a syntax error, but Acorn parses it okay. In order to use an arrow function IIFE, you'd need to do this:

[code]

[2015-10-14 09:41] #326 closed

[2015-10-15 18:51] nzakas opened #334 "Invalid rest parameter allowed"
According to the spec, a rest parameter can only be an identifier and cannot be a destructured parameter.

[code]

So the following should throw an error but currently doesn't:

[code]

[2015-10-15 18:52] nzakas commented on #334
I'll take a look at fixing this.

[2015-10-15 20:15] nzakas commented on #333
I'll try to fix this.

[2015-10-15 21:57] nzakas commented on #333
Okay, this one is stumping me. It looks like there's already a way to indicate a [call expression is invalid](https://github.com/marijnh/acorn/blob/master/src/expression.js#L227). My problem is that I can't figure out how to get `noCall` to be `true` only when an arrow function isn't surrounded by parentheses. Any hints?

[2015-10-16 07:25] #334 closed

[2015-10-16 07:29] #325 closed

[2015-10-16 07:32] marijnh commented on #333
My impression is that this should be an issue of precedence -- our parsing functions should nest in such a way that the code that handles arrow parsing sits higher up in the call chain than the code that handles subscripts (including calls). This isn't currently the case, probably due to the trickiness of recognizing arrow functions and the confusion with parenthesized expressions.

[2015-10-19 20:29] nzakas commented on #274
Duplicate of #325?

[2015-10-19 20:32] nzakas commented on #333
Hmm, ok. This may be beyond what I'm able to do as I still don't really understand how everything is setup.

[2015-10-19 21:15] RReverser commented on #274
@nzakas It's rather your issue that was duplicate :P But yeah.

[2015-10-19 21:15] #274 closed

[2015-10-19 21:53] nzakas opened #336 "Yield not allowed in arrow function parameters"
Currently, this parses ok:

[code]

According to [the spec](http://www.ecma-international.org/ecma-262/6.0/#sec-arrow-function-definitions-static-semantics-early-errors), `yield` should not be allowed in arrow function parameters.

[2015-10-19 22:15] RReverser commented on #336
As far as I understand, it's not allowed as yield expression, but in this case might be parsed as identifier... or not?

[2015-10-20 00:05] nzakas commented on #336
My reading is that because it's inside a generator, `yield` is considered a YieldExpression instead of an identifier. I think this would be an identifier:

[code]

[2015-10-20 00:26] RReverser commented on #336
So even in nested contexts and functions that have generator somewhere among parents, it's still yield expression?

[2015-10-20 04:41] limeblack opened #337 "Does this support whitespace?"
Does this support whitespace when tokenizing?

For example would it support outputting the original linebreaks?

[2015-10-20 07:25] angelozerr opened #338 "Support for ES7 Decorators"
I know that ES7 decorator is not freeze as specification, but I tell me if acorn could support ES7 Decorators https://github.com/wycats/javascript-decorators

More and more framework like Angular2, TypeScript uses ES7 decorators. I have seen that @sebmck has worked on this feature at https://github.com/babel/babel/blob/master/packages/babylon/src/parser/statement.js#L128

[2015-10-20 07:33] marijnh commented on #274
What about checking for clashing names in let/const bindings? Shouldn't we also look into that if we're handling argument name clashes?

[2015-10-20 07:44] marijnh commented on #338
Nope. For now, write a plugin. (See #309)

[2015-10-20 07:44] #338 closed

[2015-10-20 07:45] marijnh commented on #337
Not directly. The recommended approach is to use a token (and possibly comment) callback, and take the substrings of the input string between the subsequent tokens or comments. That gives you access to whitespace without any extra feature in Acorn itself.

[2015-10-20 07:45] #337 closed

[2015-10-20 10:11] angelozerr opened #339 "Use plugin with acorn_loose"
I'm trying to use plugin with acorn_loose with https://github.com/RReverser/acorn-jsx

With acorn, we can extend parseIdent for instance but with acorn_losse, it seems that parseIdent is never called? Is there something to do to use acorn plugin with acorn_loose?

[2015-10-20 10:21] marijnh commented on #339
There is currently no plugin architecture for the loose parser. You might find it already skips some constructs without doing too much damage to the structure of the output, but that's not a general solution.

[2015-10-20 12:13] angelozerr commented on #339
That's very shame -(

I have started :

 * https://github.com/angelozerr/tern-react to have completion for React/JSX
 * https://github.com/angelozerr/tern-typescript to have completion for TypeScript by starting to implement an acorn plugin acorn-ts for TypeScript

But without acorn_loose, it's not possible.

Do you think you could implement plugins with acorn_loose one day? Otherwise I will give

[2015-10-20 13:19] marijnh commented on #339
You could try something similar to what the main parser does -- recognize an option, say `pluginsLoose`, and use that to mix new behavior into the loose parser object.

[2015-10-20 15:56] nzakas commented on #274
Ideally, yes. It can get a bit complicated since you'd need to track the scope.

Shift handles these early errors by doing two passes: the first pass did the parsing and the second pass does the errors (via AST traversal). They've said this resulted in better perf than doing it all in a 'single pass.

[2015-10-20 15:58] nzakas commented on #336
That's the way I'm reading it. Shift implements it correctly, I believe.

[2015-10-20 18:04] nzakas opened #340 "Destructuring edge case"
This currently parses with Acorn but shouldn't:

[code]

According to [the spec](http://www.ecma-international.org/ecma-262/6.0/#sec-destructuring-binding-patterns), a comma is not allowed after a `BindingRestElement`, so this should be a syntax error.

[2015-10-20 18:09] RReverser commented on #340
Yeah, this is one of unfortunate things that are lost when initially parsing thing as regular array, and then converting to assignable (since for regular array last comma is ignored).

[2015-10-20 19:10] nzakas commented on #340
Seems like just a bug here? https://github.com/marijnh/acorn/blob/master/src/lval.js#L114

[2015-10-20 19:16] nzakas commented on #340
Interesting that this properly throws an error:

[code]

I'll take a look.

[2015-10-20 19:20] RReverser commented on #340
Yup, for bindings we don't need conversion, so they are parsed as bindings immediately and correctly.

[2015-10-20 19:22] nzakas commented on #340
Ah, gotcha. Tricky stuff.

[2015-10-20 20:37] nzakas commented on #340
Okay, this is another one I can't figure out how to do. :(

[2015-10-20 22:51] RReverser commented on #340
Unfortunately, those are things that are hard to implement without lookahead. Another option would be to preserve last empty element after `,` (as we do for ES5 non-strict AFAIR) and remove it only when we're sure that it's an expression; and on conversion test against it.

[2015-10-21 17:16] nzakas commented on #333
I'm going to give this one last try using the process that Espree currently uses to track parentheses.

[2015-10-22 15:22] RReverser opened #342 "Location tracking for characters >0xFFFF"
Took the latest surrogate character from https://github.com/mathiasbynens/unicode-5.1.0/blob/master/properties/ID_Start/code-points.js and tried to `acorn.parse(String.fromCodePoint(195101), { locations: true, ecmaVersion: 6 })`.

Acorn uses JavaScript `.length` which doesn't recognize such characters but treats them as sequence of two separate ones, thus telling that this is an `Identifier` that

[2015-10-22 16:50] RReverser commented on #342
/cc @mathiasbynens @fitzgen

[2015-10-24 16:43] mathiasbynens commented on #342
@fitzgen Do source maps deal with Unicode code points or UCS-2/UTF-16 code units?

[2015-10-24 23:16] RReverser commented on #342
@mathiasbynens As far as I understand from spec, it says "we use UTF-8 for simplicity", but I hoped that it's simpler than that as otherwise we need to fix all the JS-in-JS parsers :/ So yeah, need clarification from @fitzgen.

[2015-10-26 15:31] fitzgen commented on #342
They *should* deal with characters rather than code points, but AFAICT everyone is broken in the same way here. We might want to consider altering the spec to be reality compatible.

[2015-10-26 16:29] RReverser commented on #342
@fitzgen That's what I was wondering about whether it's everyone in JS or just really everyone. If we do alter the spec, can we hope for browser implementations to change soon or better to fix on our side?

[2015-10-26 17:12] fitzgen commented on #342
Currently, both Firefox/SpiderMonkey and Chrome/V8 count columns with code points not characters.

Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1218106, will see where the discussion goes from there.

[2015-10-26 17:57] RReverser commented on #342
I guess I'm getting lost, what do you mean under each of those?

[2015-10-26 17:59] mathiasbynens commented on #342
I think @fitzgen has it backwards.

His test case on the bug demonstrates that columns are based on UTF-16 code units rather than code points / Unicode symbols.

[2015-10-26 18:14] RReverser commented on #342
Well in Firefox Dev for `var 𪘀 = 42;` I'm getting `SyntaxError: illegal character` so doesn't seem it's currently supported at all :/

[2015-10-26 18:19] RReverser commented on #342
And as for Chrome it does indeed look like it operates on UTF-16 code units. If FF does the same + need to look what IE/Edge does + look into WebStorm / Visual Studio support, it might be easier to change the spec.

[2015-10-26 20:32] nzakas commented on #340
Ah cool, I'll take a look at that.

[2015-10-26 20:47] #333 closed

[2015-10-28 14:29] matAtWork opened #343 "Determine ecmaVersion 'automagically'"
Running some test scripts against a bunch of random JS files, I have an issue with not knowing which were written for ES5 and which for ES6, which clearly an ES6 capable engine (browser, node) somehow works out, otherwise some valid ES5 constructs (such as octals beginning with 0) fail as ES6 is strict by default, and obviously ES6 constructs fail with ecmaVersion: 5.

Is there a way to determine

[2015-10-28 14:37] marijnh commented on #343
ES6 is backwards compatible, so if you're not sure, just parse in ES6 mode.

[2015-10-28 14:37] #343 closed

[2015-10-28 14:49] matAtWork commented on #343
Of course. What I'm actually observing is that if I parse with sourceType set to 'module', to enable keywords like 'import' in ES6, it fails on parsing un-strict ES5 scripts destined for a browser. Obviously in the real world, this is unlikely (a file will typically execute in one environment or the other), however my test is dumb and just tries every .js file I have locally. Since no ES5 files ca

[2015-10-28 14:53] RReverser commented on #343
No, that's a wrong way. If you work with ES5, just use `"script"`. In ES6, modules and scripts are different kinds of code, and you can't just choose whichever parses, because in runtime they behave differently, too (in particular, different strict mode behavior).

[2015-10-28 15:00] matAtWork commented on #343
This is pretty poor use-case I have - I'm testing my (estree) output routines by parsing (using acorn), outputting and re-parsing and making sure the trees are the same. To catch as many things as I can, I'm running it on my local tree (approx 75k .js files), but of course some are meant for browsers (sourceType: script) and some for nodejs (sourceType: module). Not being my files, I don't know wh

[2015-10-28 15:01] RReverser commented on #343
No, the fact that they're for Node.js doesn't affect `sourceType`. Node.js modules don't have the same meaning as "module code" in ES6, they're just regular ES5/ES6 script code.

[2015-10-28 15:04] marijnh commented on #343
So yeah, this does not exist, but trying one sourceType after the other and seeing what doesn't raise an error does actually sound like a good workaround in your case.

[2015-10-28 15:05] RReverser commented on #343
If it's just for determining whether it's possibly a valid code - yes, but for comparing trees one needs to make sure to set same `sourceType` in both parsers.

[2015-10-28 15:05] matAtWork commented on #343
Hmm, I'm probably making myself look more stupid that necessary by equating browser='script', node='module'. Perhaps I should be more accurate - I have some sample JS files that are clearly meant to be 'modules' (they contain import and export statements). Since they have the same extension, etc., I can't tell what I should set sourceType to in order to get them to parse.

[2015-10-28 15:07] matAtWork commented on #343
Oops - crossed messages. @RReverser, yes this is a test case. And I can assume if it parses at all I can use the same mode when comparing trees, so as @marijnh suggested, I'll try one then the other.

I appreciate your help - I understand the separation of the two source types much better now

[2015-10-28 15:09] RReverser commented on #343
Btw, I guess if you don't care about a specific case of `import`/`export` somewhere deeply in the tree, you can just set `allowImportExportEverywhere` to `true`.

[2015-10-28 15:11] matAtWork commented on #343
Erm, yeah. I have no idea why I didn't spot that. Problem solved. Thx :)

[2015-10-28 15:13] RReverser commented on #343
However... no, that won't solve your case as many other things will fail in strict (module) code while parsing well as scripts.

[2015-10-28 15:15] matAtWork commented on #343
At least I've got options now (at least two) - I'll try it out and hopefully make progress. Thanks again

[2015-10-28 17:51] nzakas commented on #326
It looks like `export var await` is still being parsed with the latest release because `await` isn't listed as a keyword or reserved word internally. I'll try to fix that.

[2015-10-28 18:59] nzakas commented on #336
I'll try to fix this.

[2015-10-28 20:22] RReverser commented on #336
Related: #227

[2015-10-28 20:25] nzakas opened #346 "Allow singling out a particular test"
One of the issues I've been having as I'm trying to fix things is that the custom test runner is a bit difficult to work with when trying to focus on a specific issue. After several cycles of commenting out every test except the one I'm working on, I hacked in `testOnly`, `testFailOnly` and `testAssertOnly` locally and found that it really helped. Basically, the first one of these wins and all oth

[2015-10-28 20:28] marijnh commented on #346
If someone has good experiences with a test runner module, I'm also definitely open to moving to a proper test framework. (I haven't run into any I liked, but I haven't used a lot.)

[2015-10-28 20:29] RReverser commented on #346
@marijnh That would be great. Personally, I like Mocha, but we could also stick with something as minimal as Tape. However, we still need to use own wrappers for AST comparison in any case.

[2015-10-29 09:46] marijnh commented on #336
I'm pretty confused here. When parsing an ArrowFunction, the [Yield] flag is inherited from the parent expression context, but since default parameters values are evaluated in the scope of the arrow function itself, that seems entirely nonsensical. (FunctionExpression, for example, sensibly does not have a [Yield] flag.)

Maybe this is a kludgy attempt to make parsing without lookahead easier, and

[2015-10-29 15:37] nzakas commented on #336
I think I tried that and it only caught arrow functions, not regular functions. Will double check when I'm at my computer.

[2015-10-29 15:48] marijnh commented on #336
It should only catch arrow functions, I believe.

[2015-10-29 17:21] nzakas commented on #336
I believe `yield` is also not allowed in default parameters for functions in strict mode:

[code]

I'm having a hard time nailing down the spot in the spec where this is located, however, Shift errors on this consistently and I've found it to be pretty accurate.

But to your point, I can probably at least get the arrow functions issue resolved in `toAssignableList`, so I'll do that.

Do you want m

[2015-10-29 17:44] RReverser commented on #336
Yeah, as for regular functions, the issue seem to be that `inGenerator` wrapping happens inside of a body: https://github.com/ternjs/acorn/blob/master/src/expression.js#L586-L590 while should cover parameters as well, so needs to be moved out.

[2015-10-31 17:22] Rich-Harris opened #348 "{ get } and { set } should not parse"
I'm *fairly* sure this is a bug, but correct me if I'm wrong – using `get` and `set` as shorthand properties (i.e. `var obj = { get, set, net }`) is illegal. It should be `{ get: get, set: set, net }`.

[2015-10-31 19:01] sebmck commented on #348
Why are you under that assumption? Do you have a spec citation?

[2015-10-31 19:08] Rich-Harris commented on #348
No spec citation, but engines regard it as a syntax error:

<img width="323" alt="screen shot 2015-10-31 at 3 04 26 pm" src="https://cloud.githubusercontent.com/assets/1162160/10865427/206c2858-7fe1-11e5-8372-016f10317e0c.png">

[2015-10-31 19:33] sebmck commented on #348
Looks like a V8 issue. I can't find anything that explicitly disallows it and SpiderMonkey parses it fine:

<img width="887" alt="screen shot 2015-10-31 at 19 32 44" src="https://cloud.githubusercontent.com/assets/853712/10865538/39d534a4-8006-11e5-89f8-0da98caaa1ea.png">

[2015-10-31 19:37] Rich-Harris commented on #348
Ah, looks like you're right, and there's already an issue for it: https://codereview.chromium.org/1328083002/ Thanks!

[2015-10-31 19:37] #348 closed

[2015-10-31 19:44] ndaidong opened #349 "Get "SyntaxError: Unexpected token" in Node.js 5.0.0"
Hi there,

After upgrading node.js to 5.0.0, I get the following error:

[code]

[2015-10-31 19:50] TimothyGu commented on #349
This isn't really an acorn bug, rather one in acorn-globals. See ForbesLindesay/acorn-globals#10. Do an `npm up` and you should be good to go.

<small>It's actually my fault…</small>

[2015-10-31 19:55] ndaidong commented on #349
@TimothyGu thanks for your quick reply. Problem has been resolved by updating acorn-globals to v1.0.8 :+1:

[2015-10-31 19:55] #349 closed

[2015-11-03 09:02] userotti commented on #319
I got this, this morning. not sure if it's related, not sure what I'm missing.

vagrant@homestead:~/Code/appname$ npm install acron
npm ERR! Linux 3.19.0-25-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "acron"
npm ERR! node v4.1.1
npm ERR! npm  v3.3.10
npm ERR! code E404

npm ERR! 404 Registry returned 404 for GET on https://registry.npmjs.org/acron
npm ERR! 404
npm ERR! 404 'a

[2015-11-03 09:07] marijnh commented on #319
You were trying to install `acron`, not `acorn`.

[2015-11-03 09:07] #319 closed

[2015-11-03 09:10] userotti commented on #319
haha, thanks

[2015-11-03 11:53] RReverser commented on #319
@marijnh Note that original issue author was installing `acorn` though.

[2015-11-03 13:06] marijnh commented on #319
Woops, due to the repository move, the mail ended up in a new thread, and I didn't notice that it was a continuation of an old issue. Still, no new info was submitted with regards to the original problem, so I'm okay with leaving this closed until we hear more.

[2015-11-04 15:48] #340 closed

[2015-11-04 15:48] RReverser commented on #340
@nzakas Pushed a fix, please check whether it works for all your cases.

[2015-11-04 15:57] #336 closed

[2015-11-04 18:13] nzakas commented on #340
Looks good in my first pass. Any chance of doing a release soon? :)

[2015-11-04 18:57] nzakas opened #350 "Unexpected parsing error"
The following should be parseable but throws an error:

[code]

The error is "Unexpected token =" at column 11.

[2015-11-04 19:01] RReverser commented on #350
Can't reproduce on master on my machine. Do you use some specific options? (and it's weird to get token `=` at column 11 in this case since it's not there in source)

[2015-11-04 19:06] nzakas commented on #350
Hmmm, let me double check.

[2015-11-04 19:07] nzakas commented on #350
Yeah, nevermind! I must have been linked somewhere incorrectly. Works for me!

[2015-11-04 19:13] nzakas commented on #350
Oops, just noticed the problem, I copy-pasted wrong. This is the actual thing that doesn't parse but should:

[code]

Actual error message:

[code]

[2015-11-04 19:35] marijnh commented on #350
Are you sure this is supposed to parse? I believe we had a discussion before where people claimed it shouldn't (you have to say `({prop} = expr)`, putting parens around the whole assignment, instead). I have not personally checked the grammar yet.

[2015-11-04 19:43] nzakas commented on #350
Hmm, good point. Esprima and Shift parse it fine, and I usually rely on the latter to corroborate my findings because they're so close to the spec. @bterlson can you confirm this for us?

[2015-11-04 19:49] RReverser commented on #350
No, this is definitely incorrect, was discussed and confirmed several times actually in the past. Object/array patterns can not be parenthesized. (latest mention is by @michaelficarra in [this issue](https://github.com/ternjs/acorn/pull/258#issuecomment-143948423)).

[2015-11-04 19:49] #350 closed

[2015-11-04 19:50] nzakas commented on #350
Cool, thanks!

[2015-11-04 20:11] michaelficarra commented on #350
@nzakas Yes, sadly this is one of our [3 known bugs](https://github.com/shapesecurity/shift-parser-js/issues?q=is%3Aopen+is%3Aissue+label%3Abug): https://github.com/shapesecurity/shift-parser-js/issues/178. PRs are welcome!

[2015-11-09 10:05] marijnh commented on #340
@nzakas I've tagged 2.6.0

[2015-11-09 23:22] TimothyGu opened #353 "Checking if a string is a valid expression"
This is more of a question than an issue, but is there a recommended way of checking if a string is a valid JS expression in acorn? Right now I'm using the following:

[code]

This looks kind of fragile. Is there a better way to do this?

[2015-11-09 23:28] RReverser commented on #353
Looks valid to me. This is too specific task to make it separate method IMO (otherwise we would need to add smth similar for statements and other kinds).

[2015-11-09 23:30] TimothyGu commented on #353
We do have `parseExpressionAt`, which doesn't throw (or at least it's not supposed to) on string left, an even more specific task IMO.

"supposed to": see for example `parseExpressionAt('function () {} / 2')`

[2015-11-10 01:43] TimothyGu commented on #353
My solution works fine for pretty much every case I have. Closing. Thanks for taking a look at this!

[2015-11-10 01:43] #353 closed

[2015-11-10 06:33] ofrobots opened #354 "Exceptions with v2.6.0"
I just ended up picking version 2.6.0 as a dependency. I am running into some regressions from previous versions.

[code]
Throws:
[code]

The code reads:
[code]

Changing `options.sourceType` to `this.options.sourceType` works around the problem for me.

[2015-11-10 06:43] TimothyGu commented on #354
Already fixed in 49393686340720f9cab5a62ce2e25515c41c5f45.

[2015-11-10 09:15] RReverser commented on #354
@TimothyGu That's right, thanks.

[2015-11-10 09:15] #354 closed

[2015-11-10 09:21] marijnh commented on #354
I've released a 2.6.2 that includes this patch.

[2015-11-11 16:40] nzakas commented on #340
Thanks!

[2015-11-12 02:11] TimothyGu commented on #353
For future reference, I used the code above and added some more options to create [is-expression](https://www.npmjs.com/package/is-expression) npm module.

[2015-12-01 18:01] nzakas opened #358 "Rest params should not be allowed in setter"
The following patterns are being parsed without error in Acorn, but should throw a syntax error:

[code]

Reference:

- http://www.ecma-international.org/ecma-262/6.0/#sec-method-definitions
  - `set PropertyName[?Yield] ( PropertySetParameterList ) { FunctionBody }`
  - `PropertySetParameterList : FormalParameter`
  - `FormalParameter` does not include `FunctionRestParameter`.

Related:

- https:

[2015-12-01 18:11] nzakas opened #359 ""var let" should be allowed in nonstrict mode"
The following code should be allowed in nonstrict mode but currently throws an error:

[code]

Related bug from Espree: https://github.com/eslint/espree/issues/149

Works correctly in Esprima and Shift.

[2015-12-01 20:13] nzakas commented on #358
I'll try to fix this.

[2015-12-01 21:29] TimothyGu commented on #359
Dup of #227. PR available at #317.

[2015-12-02 01:20] nzakas commented on #359
Oops, sorry!

[2015-12-02 01:20] #359 closed

[2015-12-02 12:34] #358 closed

[2015-12-03 09:41] matAtWork opened #361 "'undefined' is reserved word if ecmaVerison>=6 ?"
The following fails to parse with acorn 2.6.4, but I'm unsure as to why:
[code]
It works with --ecma6 - am I missing some subtle understanding of reserved words in ES7?

[2015-12-03 09:54] marijnh commented on #361
We don't support ES7. I'll remove the command line argument. The error you see is an accident cause by some code not being able to handle 7 in the version field.

[2015-12-03 09:54] #361 closed

[2015-12-03 10:03] matAtWork commented on #361
Yh, I found the code via the debugger. It's a change from 2.5.2, which is what I use with nodent and the acorn-es7-plugin. The test is at https://github.com/ternjs/acorn/blob/0243a7c32a5ea51a294474123cc3f1677db1e9d9/src/expression.js#L658, committed by @nzakas (https://github.com/ternjs/acorn/commit/af1fccababe529df72b2be1b6526d2824fea22f5) moving from 2.6.0 to 2.6.4.

I guess it's just too aggres

[2015-12-08 14:19] angelozerr opened #362 "[ES6] ImportDeclaration, create specifiers node even if specifiers is empty"
Today tern can support completion for specifier when specifier contains one character. I mean with the demo http://ternjs.net/doc/demo/#ES6

[code]

I would like to benefit with tern completion for specifiers when specifier is empty. I mean with the demo http://ternjs.net/doc/demo/#ES6

[code]

Today tern cannot support that, because specifiers array is empty. So it should be very cool if acorn co

[2015-12-10 19:56] nzakas opened #363 "Regular expression "y" flag incorrectly allowed in ES5 mode"
Right now, the following parses okay with ecmaVersion as 5:

[code]

It should throw a syntax error as `y` was only added in ES6.